body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1745px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u11720_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1343px;
  height:2px;
}
#u11720 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:50px;
  width:1342px;
  height:1px;
}
#u11721 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:1338px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11722_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:26px;
  color:#0066CC;
}
#u11722 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:8px;
  width:131px;
  height:37px;
  font-size:26px;
  color:#0066CC;
}
#u11723 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  white-space:nowrap;
}
#u11724_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 204, 153, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u11724 {
  border-width:0px;
  position:absolute;
  left:1233px;
  top:0px;
  width:111px;
  height:40px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u11725 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:107px;
  word-wrap:break-word;
}
#u11726_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1361px;
  height:54px;
}
#u11726 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:57px;
  width:1361px;
  height:54px;
}
#u11727 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:19px;
  width:1357px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11728_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF9900;
}
#u11728 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:130px;
  width:164px;
  height:32px;
  color:#FF9900;
}
#u11729 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  word-wrap:break-word;
}
#u11730_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11730 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:191px;
  width:118px;
  height:20px;
}
#u11731 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  white-space:nowrap;
}
#u11732_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1344px;
  height:92px;
}
#u11732 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:518px;
  width:1344px;
  height:92px;
}
#u11733 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:38px;
  width:1340px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11734_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u11734 {
  border-width:0px;
  position:absolute;
  left:440px;
  top:538px;
  width:102px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u11735 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:98px;
  word-wrap:break-word;
}
#u11736_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u11736 {
  border-width:0px;
  position:absolute;
  left:568px;
  top:538px;
  width:99px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u11737 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:95px;
  word-wrap:break-word;
}
#u11738 {
  border-width:0px;
  position:absolute;
  left:419px;
  top:191px;
  width:494px;
  height:25px;
}
#u11738_input {
  position:absolute;
  left:0px;
  top:0px;
  width:494px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u11739_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11739 {
  border-width:0px;
  position:absolute;
  left:226px;
  top:403px;
  width:104px;
  height:20px;
}
#u11740 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  white-space:nowrap;
}
#u11741 {
  border-width:0px;
  position:absolute;
  left:419px;
  top:233px;
  width:494px;
  height:22px;
}
#u11741_input {
  position:absolute;
  left:0px;
  top:0px;
  width:494px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u11741_input:disabled {
  color:grayText;
}
#u11742_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11742 {
  border-width:0px;
  position:absolute;
  left:309px;
  top:332px;
  width:43px;
  height:20px;
}
#u11743 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u11744 {
  border-width:0px;
  position:absolute;
  left:419px;
  top:319px;
  width:494px;
  height:68px;
}
#u11744_input {
  position:absolute;
  left:0px;
  top:0px;
  width:494px;
  height:68px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u11745_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u11745 {
  border-width:0px;
  position:absolute;
  left:223px;
  top:265px;
  width:120px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u11746 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  white-space:nowrap;
}
#u11747 {
  border-width:0px;
  position:absolute;
  left:419px;
  top:265px;
  width:494px;
  height:25px;
}
#u11747_input {
  position:absolute;
  left:0px;
  top:0px;
  width:494px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u11748 {
  border-width:0px;
  position:absolute;
  left:419px;
  top:412px;
  width:100px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u11749 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u11748_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u11750 {
  border-width:0px;
  position:absolute;
  left:598px;
  top:412px;
  width:100px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u11751 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u11750_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u11752_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#FF0000;
}
#u11752 {
  border-width:0px;
  position:absolute;
  left:1408px;
  top:184px;
  width:13px;
  height:25px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#FF0000;
}
#u11753 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  white-space:nowrap;
}
#u11754_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u11754 {
  border-width:0px;
  position:absolute;
  left:1445px;
  top:190px;
  width:300px;
  height:33px;
  color:#FF0000;
}
#u11755 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
