body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2269px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u7335_div {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:40px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7335 {
  position:absolute;
  left:14px;
  top:33px;
  width:102px;
  height:40px;
}
#u7336 {
  position:absolute;
  left:2px;
  top:12px;
  width:98px;
  word-wrap:break-word;
}
#u7337_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:40px;
  background:inherit;
  background-color:rgba(25, 158, 216, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#1E1E1E;
}
#u7337 {
  position:absolute;
  left:116px;
  top:33px;
  width:99px;
  height:40px;
  color:#1E1E1E;
}
#u7338 {
  position:absolute;
  left:2px;
  top:12px;
  width:95px;
  word-wrap:break-word;
}
#u7339_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1167px;
  height:2px;
}
#u7339 {
  position:absolute;
  left:11px;
  top:76px;
  width:1166px;
  height:1px;
}
#u7340 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1162px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7341 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7342_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1342px;
  height:76px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7342 {
  position:absolute;
  left:14px;
  top:151px;
  width:1342px;
  height:76px;
}
#u7343 {
  position:absolute;
  left:2px;
  top:30px;
  width:1338px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7344_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1341px;
  height:37px;
}
#u7344 {
  position:absolute;
  left:15px;
  top:150px;
  width:1341px;
  height:37px;
}
#u7345 {
  position:absolute;
  left:2px;
  top:10px;
  width:1337px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7346 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7347_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:36px;
}
#u7347 {
  position:absolute;
  left:15px;
  top:151px;
  width:53px;
  height:36px;
}
#u7348 {
  position:absolute;
  left:2px;
  top:10px;
  width:49px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7349_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#0066CC;
}
#u7349 {
  position:absolute;
  left:62px;
  top:159px;
  width:81px;
  height:24px;
  font-size:20px;
  color:#0066CC;
}
#u7350 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u7351_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1343px;
  height:2px;
}
#u7351 {
  position:absolute;
  left:14px;
  top:139px;
  width:1342px;
  height:1px;
}
#u7352 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1338px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7353_div {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:26px;
  color:#0066CC;
}
#u7353 {
  position:absolute;
  left:26px;
  top:97px;
  width:131px;
  height:30px;
  font-size:26px;
  color:#0066CC;
}
#u7354 {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  white-space:nowrap;
}
#u7355_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1342px;
  height:2px;
}
#u7355 {
  position:absolute;
  left:15px;
  top:186px;
  width:1341px;
  height:1px;
  color:#0066CC;
}
#u7356 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1337px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7357_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:25px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7357 {
  position:absolute;
  left:1146px;
  top:197px;
  width:99px;
  height:25px;
}
#u7358 {
  position:absolute;
  left:2px;
  top:4px;
  width:95px;
  word-wrap:break-word;
}
#u7359_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:25px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7359 {
  position:absolute;
  left:1255px;
  top:197px;
  width:99px;
  height:25px;
}
#u7360 {
  position:absolute;
  left:2px;
  top:4px;
  width:95px;
  word-wrap:break-word;
}
#u7361_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1700px;
  height:86px;
}
#u7361 {
  position:absolute;
  left:14px;
  top:250px;
  width:1700px;
  height:86px;
}
#u7362 {
  position:absolute;
  left:2px;
  top:35px;
  width:1696px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7363_img {
  position:absolute;
  left:0px;
  top:0px;
  width:555px;
  height:80px;
}
#u7363 {
  position:absolute;
  left:1714px;
  top:252px;
  width:555px;
  height:80px;
}
#u7364 {
  position:absolute;
  left:2px;
  top:32px;
  width:551px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7365 {
  position:absolute;
  left:34px;
  top:193px;
  width:162px;
  height:25px;
}
#u7365_input {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#CCCCCC;
  text-align:left;
}
#u7366_div {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 204, 153, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u7366 {
  position:absolute;
  left:1082px;
  top:26px;
  width:95px;
  height:40px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u7367 {
  position:absolute;
  left:2px;
  top:12px;
  width:91px;
  word-wrap:break-word;
}
#u7368_div {
  position:absolute;
  left:0px;
  top:0px;
  width:744px;
  height:107px;
  background:inherit;
  background-color:rgba(208, 225, 125, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  color:#FF0000;
}
#u7368 {
  position:absolute;
  left:1229px;
  top:18px;
  width:744px;
  height:107px;
  color:#FF0000;
}
#u7369 {
  position:absolute;
  left:10px;
  top:10px;
  width:724px;
  word-wrap:break-word;
}
#u7370_div {
  position:absolute;
  left:0px;
  top:0px;
  width:744px;
  height:34px;
  background:inherit;
  background-color:rgba(208, 225, 125, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  color:#FF0000;
}
#u7370 {
  position:absolute;
  left:15px;
  top:376px;
  width:744px;
  height:34px;
  color:#FF0000;
}
#u7371 {
  position:absolute;
  left:10px;
  top:10px;
  width:724px;
  word-wrap:break-word;
}
#u7372 {
  position:absolute;
  left:686px;
  top:150px;
  width:0px;
  height:0px;
}
#u7372_seg0 {
  position:absolute;
  left:-4px;
  top:-44px;
  width:550px;
  height:10px;
  -webkit-transform:rotate(171.82558537354deg);
  -moz-transform:rotate(171.82558537354deg);
  -ms-transform:rotate(171.82558537354deg);
  transform:rotate(171.82558537354deg);
}
#u7372_seg1 {
  position:absolute;
  left:528px;
  top:-88px;
  width:20px;
  height:20px;
}
#u7373 {
  position:absolute;
  left:222px;
  top:-47px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
