body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1364px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4256_div {
  position:absolute;
  left:0px;
  top:0px;
  width:877px;
  height:633px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4256 {
  position:absolute;
  left:0px;
  top:0px;
  width:877px;
  height:633px;
}
#u4257 {
  position:absolute;
  left:2px;
  top:308px;
  width:873px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4258_div {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4258 {
  position:absolute;
  left:134px;
  top:130px;
  width:68px;
  height:16px;
}
#u4259 {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  white-space:nowrap;
}
#u4260 {
  position:absolute;
  left:237px;
  top:124px;
  width:246px;
  height:33px;
}
#u4260_input {
  position:absolute;
  left:0px;
  top:0px;
  width:246px;
  height:33px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u4261_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4261 {
  position:absolute;
  left:134px;
  top:198px;
  width:58px;
  height:16px;
}
#u4262 {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  white-space:nowrap;
}
#u4263 {
  position:absolute;
  left:237px;
  top:192px;
  width:246px;
  height:33px;
}
#u4263_input {
  position:absolute;
  left:0px;
  top:0px;
  width:246px;
  height:33px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u4264_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4264 {
  position:absolute;
  left:134px;
  top:275px;
  width:58px;
  height:16px;
}
#u4265 {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  white-space:nowrap;
}
#u4266 {
  position:absolute;
  left:237px;
  top:270px;
  width:246px;
  height:33px;
}
#u4266_input {
  position:absolute;
  left:0px;
  top:0px;
  width:246px;
  height:33px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u4267_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4267 {
  position:absolute;
  left:134px;
  top:407px;
  width:58px;
  height:16px;
}
#u4268 {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  white-space:nowrap;
}
#u4269 {
  position:absolute;
  left:237px;
  top:402px;
  width:246px;
  height:33px;
}
#u4269_input {
  position:absolute;
  left:0px;
  top:0px;
  width:246px;
  height:33px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u4270_img {
  position:absolute;
  left:0px;
  top:0px;
  width:567px;
  height:89px;
}
#u4270 {
  position:absolute;
  left:237px;
  top:481px;
  width:567px;
  height:89px;
}
#u4271 {
  position:absolute;
  left:2px;
  top:36px;
  width:563px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4272_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4272 {
  position:absolute;
  left:134px;
  top:481px;
  width:58px;
  height:16px;
}
#u4273 {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  white-space:nowrap;
}
#u4274_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4274 {
  position:absolute;
  left:134px;
  top:342px;
  width:58px;
  height:16px;
}
#u4275 {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  white-space:nowrap;
}
#u4276 {
  position:absolute;
  left:237px;
  top:336px;
  width:246px;
  height:33px;
}
#u4276_input {
  position:absolute;
  left:0px;
  top:0px;
  width:246px;
  height:33px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u4277_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u4277 {
  position:absolute;
  left:30px;
  top:19px;
  width:113px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u4278 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u4279_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:29px;
}
#u4279 {
  position:absolute;
  left:838px;
  top:0px;
  width:39px;
  height:28px;
}
#u4280 {
  position:absolute;
  left:2px;
  top:6px;
  width:35px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4281_div {
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:94px;
  background:inherit;
  background-color:rgba(208, 225, 125, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  color:#FF0000;
}
#u4281 {
  position:absolute;
  left:931px;
  top:19px;
  width:268px;
  height:94px;
  color:#FF0000;
}
#u4282 {
  position:absolute;
  left:10px;
  top:10px;
  width:248px;
  word-wrap:break-word;
}
#u4283 {
  position:absolute;
  left:877px;
  top:14px;
  width:0px;
  height:0px;
}
#u4283_seg0 {
  position:absolute;
  left:-11px;
  top:20px;
  width:76px;
  height:12px;
  -webkit-transform:rotate(-136.080924186661deg);
  -moz-transform:rotate(-136.080924186661deg);
  -ms-transform:rotate(-136.080924186661deg);
  transform:rotate(-136.080924186661deg);
}
#u4283_seg1 {
  position:absolute;
  left:40px;
  top:38px;
  width:20px;
  height:20px;
}
#u4284 {
  position:absolute;
  left:-23px;
  top:18px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4285 {
  position:absolute;
  left:877px;
  top:317px;
  width:0px;
  height:0px;
}
#u4285_seg0 {
  position:absolute;
  left:-1px;
  top:7px;
  width:146px;
  height:10px;
  -webkit-transform:rotate(-170.537677791974deg);
  -moz-transform:rotate(-170.537677791974deg);
  -ms-transform:rotate(-170.537677791974deg);
  transform:rotate(-170.537677791974deg);
}
#u4285_seg1 {
  position:absolute;
  left:129px;
  top:13px;
  width:20px;
  height:20px;
}
#u4286 {
  position:absolute;
  left:22px;
  top:4px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4287_div {
  position:absolute;
  left:0px;
  top:0px;
  width:339px;
  height:55px;
  background:inherit;
  background-color:rgba(208, 225, 125, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  color:#FF0000;
}
#u4287 {
  position:absolute;
  left:1025px;
  top:303px;
  width:339px;
  height:55px;
  color:#FF0000;
}
#u4288 {
  position:absolute;
  left:10px;
  top:10px;
  width:319px;
  word-wrap:break-word;
}
