body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1356px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u14567_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:650px;
  background:inherit;
  background-color:rgba(249, 249, 249, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14567 {
  border-width:0px;
  position:absolute;
  left:248px;
  top:100px;
  width:374px;
  height:650px;
}
#u14567_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14568_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:667px;
  background:inherit;
  background-color:rgba(249, 249, 249, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(119, 119, 119, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14568 {
  border-width:0px;
  position:absolute;
  left:248px;
  top:100px;
  width:374px;
  height:667px;
}
#u14568_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14569_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u14569 {
  border-width:0px;
  position:absolute;
  left:311px;
  top:190px;
  width:55px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u14569_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u14570_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#666666;
}
#u14570 {
  border-width:0px;
  position:absolute;
  left:498px;
  top:190px;
  width:55px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#666666;
}
#u14570_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u14571_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:2px;
}
#u14571 {
  border-width:0px;
  position:absolute;
  left:424px;
  top:201px;
  width:32px;
  height:1px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u14571_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14572_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  height:95px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(188, 188, 188, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14572 {
  border-width:0px;
  position:absolute;
  left:263px;
  top:228px;
  width:345px;
  height:95px;
}
#u14572_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14573_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#515151;
}
#u14573 {
  border-width:0px;
  position:absolute;
  left:302px;
  top:241px;
  width:59px;
  height:17px;
  font-size:12px;
  color:#515151;
}
#u14573_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u14574_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:13px;
}
#u14574 {
  border-width:0px;
  position:absolute;
  left:276px;
  top:244px;
  width:14px;
  height:13px;
}
#u14574_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14575_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#515151;
}
#u14575 {
  border-width:0px;
  position:absolute;
  left:302px;
  top:266px;
  width:73px;
  height:17px;
  font-size:12px;
  color:#515151;
}
#u14575_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u14576_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:13px;
}
#u14576 {
  border-width:0px;
  position:absolute;
  left:276px;
  top:269px;
  width:14px;
  height:13px;
}
#u14576_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14577_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#515151;
}
#u14577 {
  border-width:0px;
  position:absolute;
  left:302px;
  top:293px;
  width:73px;
  height:17px;
  font-size:12px;
  color:#515151;
}
#u14577_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u14578_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:13px;
}
#u14578 {
  border-width:0px;
  position:absolute;
  left:276px;
  top:297px;
  width:14px;
  height:13px;
}
#u14578_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14579_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:32px;
}
#u14579 {
  border-width:0px;
  position:absolute;
  left:491px;
  top:229px;
  width:117px;
  height:31px;
}
#u14579_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14580_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u14580 {
  border-width:0px;
  position:absolute;
  left:546px;
  top:235px;
  width:47px;
  height:17px;
  font-size:12px;
  color:#FFFFFF;
}
#u14580_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  white-space:nowrap;
}
#u14581_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  height:95px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(188, 188, 188, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14581 {
  border-width:0px;
  position:absolute;
  left:263px;
  top:335px;
  width:345px;
  height:95px;
}
#u14581_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14582_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#515151;
}
#u14582 {
  border-width:0px;
  position:absolute;
  left:302px;
  top:347px;
  width:59px;
  height:17px;
  font-size:12px;
  color:#515151;
}
#u14582_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u14583_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:13px;
}
#u14583 {
  border-width:0px;
  position:absolute;
  left:276px;
  top:351px;
  width:14px;
  height:13px;
}
#u14583_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14584_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#515151;
}
#u14584 {
  border-width:0px;
  position:absolute;
  left:302px;
  top:372px;
  width:73px;
  height:17px;
  font-size:12px;
  color:#515151;
}
#u14584_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u14585_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:13px;
}
#u14585 {
  border-width:0px;
  position:absolute;
  left:276px;
  top:376px;
  width:14px;
  height:13px;
}
#u14585_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14586_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#515151;
}
#u14586 {
  border-width:0px;
  position:absolute;
  left:302px;
  top:400px;
  width:73px;
  height:17px;
  font-size:12px;
  color:#515151;
}
#u14586_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u14587_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:13px;
}
#u14587 {
  border-width:0px;
  position:absolute;
  left:276px;
  top:403px;
  width:14px;
  height:13px;
}
#u14587_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14588_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:32px;
}
#u14588 {
  border-width:0px;
  position:absolute;
  left:491px;
  top:336px;
  width:117px;
  height:31px;
}
#u14588_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14589_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u14589 {
  border-width:0px;
  position:absolute;
  left:546px;
  top:341px;
  width:47px;
  height:17px;
  font-size:12px;
  color:#FFFFFF;
}
#u14589_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  white-space:nowrap;
}
#u14590_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#009900;
}
#u14590 {
  border-width:0px;
  position:absolute;
  left:487px;
  top:272px;
  width:39px;
  height:22px;
  color:#009900;
}
#u14590_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
#u14591_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u14591 {
  border-width:0px;
  position:absolute;
  left:558px;
  top:272px;
  width:35px;
  height:35px;
  -webkit-transform:rotate(330deg);
  -moz-transform:rotate(330deg);
  -ms-transform:rotate(330deg);
  transform:rotate(330deg);
  font-family:'PingFang SC 中等', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#BCBCBC;
}
#u14591_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  word-wrap:break-word;
}
#u14592_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u14592 {
  border-width:0px;
  position:absolute;
  left:558px;
  top:378px;
  width:35px;
  height:35px;
  -webkit-transform:rotate(330deg);
  -moz-transform:rotate(330deg);
  -ms-transform:rotate(330deg);
  transform:rotate(330deg);
  font-family:'PingFang SC 中等', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#BCBCBC;
}
#u14592_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  word-wrap:break-word;
}
#u14593_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:77px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14593 {
  border-width:0px;
  position:absolute;
  left:248px;
  top:100px;
  width:375px;
  height:77px;
}
#u14593_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14594 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14595 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14596_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u14596 {
  border-width:0px;
  position:absolute;
  left:255px;
  top:108px;
  width:6px;
  height:6px;
}
#u14596_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14597_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u14597 {
  border-width:0px;
  position:absolute;
  left:264px;
  top:108px;
  width:6px;
  height:6px;
}
#u14597_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14598_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u14598 {
  border-width:0px;
  position:absolute;
  left:272px;
  top:108px;
  width:6px;
  height:6px;
}
#u14598_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14599_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u14599 {
  border-width:0px;
  position:absolute;
  left:280px;
  top:108px;
  width:6px;
  height:6px;
}
#u14599_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14600_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u14600 {
  border-width:0px;
  position:absolute;
  left:288px;
  top:108px;
  width:6px;
  height:6px;
}
#u14600_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14601_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Tahoma Normal', 'Tahoma';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:center;
}
#u14601 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:101px;
  width:25px;
  height:14px;
  font-family:'Tahoma Normal', 'Tahoma';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:center;
}
#u14601_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u14602_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Tahoma Normal', 'Tahoma';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:center;
}
#u14602 {
  border-width:0px;
  position:absolute;
  left:405px;
  top:102px;
  width:46px;
  height:14px;
  font-family:'Tahoma Normal', 'Tahoma';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:center;
}
#u14602_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  white-space:nowrap;
}
#u14603 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14604_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:7px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14604 {
  border-width:0px;
  position:absolute;
  left:587px;
  top:108px;
  width:25px;
  height:7px;
}
#u14604_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14605_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14605 {
  border-width:0px;
  position:absolute;
  left:585px;
  top:106px;
  width:28px;
  height:12px;
}
#u14605_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14606_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:4px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14606 {
  border-width:0px;
  position:absolute;
  left:610px;
  top:109px;
  width:5px;
  height:4px;
}
#u14606_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14607 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14608_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u14608 {
  border-width:0px;
  position:absolute;
  left:255px;
  top:107px;
  width:6px;
  height:6px;
}
#u14608_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14609_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u14609 {
  border-width:0px;
  position:absolute;
  left:264px;
  top:107px;
  width:6px;
  height:6px;
}
#u14609_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14610_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u14610 {
  border-width:0px;
  position:absolute;
  left:272px;
  top:107px;
  width:6px;
  height:6px;
}
#u14610_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14611_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u14611 {
  border-width:0px;
  position:absolute;
  left:280px;
  top:107px;
  width:6px;
  height:6px;
}
#u14611_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14612_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u14612 {
  border-width:0px;
  position:absolute;
  left:288px;
  top:107px;
  width:6px;
  height:6px;
}
#u14612_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14613_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Tahoma Normal', 'Tahoma';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:center;
}
#u14613 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:100px;
  width:25px;
  height:14px;
  font-family:'Tahoma Normal', 'Tahoma';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:center;
}
#u14613_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u14614_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Tahoma Normal', 'Tahoma';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:center;
}
#u14614 {
  border-width:0px;
  position:absolute;
  left:405px;
  top:102px;
  width:46px;
  height:14px;
  font-family:'Tahoma Normal', 'Tahoma';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:center;
}
#u14614_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  white-space:nowrap;
}
#u14615 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14616_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:7px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14616 {
  border-width:0px;
  position:absolute;
  left:587px;
  top:107px;
  width:25px;
  height:7px;
}
#u14616_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14617_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14617 {
  border-width:0px;
  position:absolute;
  left:585px;
  top:105px;
  width:28px;
  height:12px;
}
#u14617_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14618_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:4px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14618 {
  border-width:0px;
  position:absolute;
  left:610px;
  top:109px;
  width:5px;
  height:4px;
}
#u14618_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14619_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u14619 {
  border-width:0px;
  position:absolute;
  left:398px;
  top:140px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u14619_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u14620_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:22px;
}
#u14620 {
  border-width:0px;
  position:absolute;
  left:276px;
  top:140px;
  width:12px;
  height:22px;
}
#u14620_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14621_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u14621 {
  border-width:0px;
  position:absolute;
  left:556px;
  top:146px;
  width:57px;
  height:16px;
  color:#FFFFFF;
}
#u14621_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u14622_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  height:95px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(188, 188, 188, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14622 {
  border-width:0px;
  position:absolute;
  left:263px;
  top:440px;
  width:345px;
  height:95px;
}
#u14622_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14623_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#515151;
}
#u14623 {
  border-width:0px;
  position:absolute;
  left:302px;
  top:452px;
  width:59px;
  height:17px;
  font-size:12px;
  color:#515151;
}
#u14623_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u14624_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:13px;
}
#u14624 {
  border-width:0px;
  position:absolute;
  left:276px;
  top:456px;
  width:14px;
  height:13px;
}
#u14624_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14625_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#515151;
}
#u14625 {
  border-width:0px;
  position:absolute;
  left:302px;
  top:477px;
  width:73px;
  height:17px;
  font-size:12px;
  color:#515151;
}
#u14625_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u14626_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:13px;
}
#u14626 {
  border-width:0px;
  position:absolute;
  left:276px;
  top:481px;
  width:14px;
  height:13px;
}
#u14626_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14627_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#515151;
}
#u14627 {
  border-width:0px;
  position:absolute;
  left:302px;
  top:505px;
  width:73px;
  height:17px;
  font-size:12px;
  color:#515151;
}
#u14627_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u14628_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:13px;
}
#u14628 {
  border-width:0px;
  position:absolute;
  left:276px;
  top:508px;
  width:14px;
  height:13px;
}
#u14628_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14629_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:32px;
}
#u14629 {
  border-width:0px;
  position:absolute;
  left:491px;
  top:441px;
  width:117px;
  height:31px;
}
#u14629_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14630_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u14630 {
  border-width:0px;
  position:absolute;
  left:513px;
  top:446px;
  width:83px;
  height:17px;
  font-size:12px;
  color:#FFFFFF;
}
#u14630_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  white-space:nowrap;
}
#u14631_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u14631 {
  border-width:0px;
  position:absolute;
  left:558px;
  top:483px;
  width:35px;
  height:35px;
  -webkit-transform:rotate(330deg);
  -moz-transform:rotate(330deg);
  -ms-transform:rotate(330deg);
  transform:rotate(330deg);
  font-family:'PingFang SC 中等', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#BCBCBC;
}
#u14631_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  word-wrap:break-word;
}
#u14632_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#009900;
}
#u14632 {
  border-width:0px;
  position:absolute;
  left:492px;
  top:490px;
  width:29px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#009900;
}
#u14632_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u14633_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:72px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 51, 51, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14633 {
  border-width:0px;
  position:absolute;
  left:103px;
  top:117px;
  width:73px;
  height:72px;
}
#u14633_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:28px;
  width:69px;
  word-wrap:break-word;
}
#u14634 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14635_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u14635 {
  border-width:0px;
  position:absolute;
  left:254px;
  top:137px;
  width:32px;
  height:32px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
  opacity:0.3;
}
#u14635_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14636_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u14636 {
  border-width:0px;
  position:absolute;
  left:258px;
  top:141px;
  width:24px;
  height:24px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
  opacity:0.6;
}
#u14636_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14637_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u14637 {
  border-width:0px;
  position:absolute;
  left:264px;
  top:147px;
  width:12px;
  height:12px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
  opacity:0.8;
}
#u14637_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14638_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:107px;
}
#u14638 {
  border-width:0px;
  position:absolute;
  left:219px;
  top:101px;
  width:2px;
  height:104px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u14638_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14639_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(249, 249, 249, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14639 {
  border-width:0px;
  position:absolute;
  left:829px;
  top:102px;
  width:375px;
  height:667px;
}
#u14639_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14640_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(249, 249, 249, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(119, 119, 119, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14640 {
  border-width:0px;
  position:absolute;
  left:829px;
  top:102px;
  width:375px;
  height:667px;
}
#u14640_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14641_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:356px;
  height:2px;
}
#u14641 {
  border-width:0px;
  position:absolute;
  left:843px;
  top:228px;
  width:355px;
  height:1px;
}
#u14641_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14642_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:77px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14642 {
  border-width:0px;
  position:absolute;
  left:828px;
  top:102px;
  width:375px;
  height:77px;
}
#u14642_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14643 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14644 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14645_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u14645 {
  border-width:0px;
  position:absolute;
  left:835px;
  top:110px;
  width:6px;
  height:6px;
}
#u14645_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14646_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u14646 {
  border-width:0px;
  position:absolute;
  left:844px;
  top:110px;
  width:6px;
  height:6px;
}
#u14646_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14647_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u14647 {
  border-width:0px;
  position:absolute;
  left:852px;
  top:110px;
  width:6px;
  height:6px;
}
#u14647_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14648_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u14648 {
  border-width:0px;
  position:absolute;
  left:860px;
  top:110px;
  width:6px;
  height:6px;
}
#u14648_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14649_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u14649 {
  border-width:0px;
  position:absolute;
  left:868px;
  top:110px;
  width:6px;
  height:6px;
}
#u14649_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14650_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Tahoma Normal', 'Tahoma';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:center;
}
#u14650 {
  border-width:0px;
  position:absolute;
  left:880px;
  top:103px;
  width:25px;
  height:14px;
  font-family:'Tahoma Normal', 'Tahoma';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:center;
}
#u14650_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u14651_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Tahoma Normal', 'Tahoma';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:center;
}
#u14651 {
  border-width:0px;
  position:absolute;
  left:985px;
  top:104px;
  width:46px;
  height:14px;
  font-family:'Tahoma Normal', 'Tahoma';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:center;
}
#u14651_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  white-space:nowrap;
}
#u14652 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14653_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:7px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14653 {
  border-width:0px;
  position:absolute;
  left:1167px;
  top:110px;
  width:25px;
  height:7px;
}
#u14653_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14654_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14654 {
  border-width:0px;
  position:absolute;
  left:1165px;
  top:108px;
  width:28px;
  height:12px;
}
#u14654_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14655_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:4px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14655 {
  border-width:0px;
  position:absolute;
  left:1190px;
  top:111px;
  width:5px;
  height:4px;
}
#u14655_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14656 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14657_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u14657 {
  border-width:0px;
  position:absolute;
  left:835px;
  top:109px;
  width:6px;
  height:6px;
}
#u14657_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14658_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u14658 {
  border-width:0px;
  position:absolute;
  left:844px;
  top:109px;
  width:6px;
  height:6px;
}
#u14658_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14659_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u14659 {
  border-width:0px;
  position:absolute;
  left:852px;
  top:109px;
  width:6px;
  height:6px;
}
#u14659_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14660_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u14660 {
  border-width:0px;
  position:absolute;
  left:860px;
  top:109px;
  width:6px;
  height:6px;
}
#u14660_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14661_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u14661 {
  border-width:0px;
  position:absolute;
  left:868px;
  top:109px;
  width:6px;
  height:6px;
}
#u14661_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14662_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Tahoma Normal', 'Tahoma';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:center;
}
#u14662 {
  border-width:0px;
  position:absolute;
  left:880px;
  top:102px;
  width:25px;
  height:14px;
  font-family:'Tahoma Normal', 'Tahoma';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:center;
}
#u14662_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u14663_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Tahoma Normal', 'Tahoma';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:center;
}
#u14663 {
  border-width:0px;
  position:absolute;
  left:985px;
  top:104px;
  width:46px;
  height:14px;
  font-family:'Tahoma Normal', 'Tahoma';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:center;
}
#u14663_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  white-space:nowrap;
}
#u14664 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14665_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:7px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14665 {
  border-width:0px;
  position:absolute;
  left:1167px;
  top:109px;
  width:25px;
  height:7px;
}
#u14665_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14666_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14666 {
  border-width:0px;
  position:absolute;
  left:1165px;
  top:107px;
  width:28px;
  height:12px;
}
#u14666_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14667_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:4px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14667 {
  border-width:0px;
  position:absolute;
  left:1190px;
  top:111px;
  width:5px;
  height:4px;
}
#u14667_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14668_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u14668 {
  border-width:0px;
  position:absolute;
  left:978px;
  top:142px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u14668_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u14669_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:22px;
}
#u14669 {
  border-width:0px;
  position:absolute;
  left:856px;
  top:142px;
  width:12px;
  height:22px;
}
#u14669_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14670_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14670 {
  border-width:0px;
  position:absolute;
  left:981px;
  top:428px;
  width:71px;
  height:16px;
}
#u14670_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u14671_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:50px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u14671 {
  border-width:0px;
  position:absolute;
  left:965px;
  top:465px;
  width:100px;
  height:36px;
  font-size:14px;
  color:#FFFFFF;
}
#u14671_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
  background:inherit;
  background-color:rgba(0, 218, 236, 1);
  border:none;
  border-radius:50px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u14671.mouseOver {
}
#u14671_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
  background:inherit;
  background-color:rgba(0, 194, 210, 1);
  border:none;
  border-radius:50px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u14671.mouseDown {
}
#u14671_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u14672_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:72px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 51, 51, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14672 {
  border-width:0px;
  position:absolute;
  left:698px;
  top:119px;
  width:73px;
  height:72px;
}
#u14672_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:28px;
  width:69px;
  word-wrap:break-word;
}
#u14673 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14674_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u14674 {
  border-width:0px;
  position:absolute;
  left:849px;
  top:139px;
  width:32px;
  height:32px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
  opacity:0.3;
}
#u14674_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14675_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u14675 {
  border-width:0px;
  position:absolute;
  left:853px;
  top:143px;
  width:24px;
  height:24px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
  opacity:0.6;
}
#u14675_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14676_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u14676 {
  border-width:0px;
  position:absolute;
  left:859px;
  top:149px;
  width:12px;
  height:12px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
  opacity:0.8;
}
#u14676_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14677_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:107px;
}
#u14677 {
  border-width:0px;
  position:absolute;
  left:814px;
  top:103px;
  width:2px;
  height:104px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u14677_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14678_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u14678 {
  border-width:0px;
  position:absolute;
  left:992px;
  top:795px;
  width:55px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u14678_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u14679_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u14679 {
  border-width:0px;
  position:absolute;
  left:349px;
  top:795px;
  width:163px;
  height:44px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u14679_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  white-space:nowrap;
}
#u14680_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u14680 {
  border-width:0px;
  position:absolute;
  left:894px;
  top:190px;
  width:55px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u14680_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u14681_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#666666;
}
#u14681 {
  border-width:0px;
  position:absolute;
  left:1081px;
  top:190px;
  width:55px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#666666;
}
#u14681_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u14682_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:2px;
}
#u14682 {
  border-width:0px;
  position:absolute;
  left:1007px;
  top:201px;
  width:32px;
  height:1px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u14682_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14683 {
  border-width:0px;
  position:absolute;
  left:251px;
  top:228px;
  width:368px;
  height:314px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u14684 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14685_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u14685 {
  border-width:0px;
  position:absolute;
  left:1043px;
  top:467px;
  width:32px;
  height:32px;
  opacity:0.3;
}
#u14685_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14686_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u14686 {
  border-width:0px;
  position:absolute;
  left:1047px;
  top:471px;
  width:24px;
  height:24px;
  opacity:0.6;
}
#u14686_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14687_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u14687 {
  border-width:0px;
  position:absolute;
  left:1053px;
  top:477px;
  width:12px;
  height:12px;
  opacity:0.8;
}
#u14687_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14688_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:229px;
}
#u14688 {
  border-width:0px;
  position:absolute;
  left:1169px;
  top:370px;
  width:2px;
  height:226px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u14688_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14689_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:72px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 51, 51, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14689 {
  border-width:0px;
  position:absolute;
  left:1283px;
  top:447px;
  width:73px;
  height:72px;
}
#u14689_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:28px;
  width:69px;
  word-wrap:break-word;
}
