body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1354px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u7618_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1167px;
  height:2px;
}
#u7618 {
  position:absolute;
  left:2px;
  top:50px;
  width:1166px;
  height:1px;
}
#u7619 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1162px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7620_div {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:26px;
  color:#0066CC;
}
#u7620 {
  position:absolute;
  left:14px;
  top:8px;
  width:131px;
  height:30px;
  font-size:26px;
  color:#0066CC;
}
#u7621 {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  white-space:nowrap;
}
#u7622_div {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 204, 153, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u7622 {
  position:absolute;
  left:1058px;
  top:0px;
  width:95px;
  height:40px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u7623 {
  position:absolute;
  left:2px;
  top:12px;
  width:91px;
  word-wrap:break-word;
}
#u7624_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1168px;
  height:54px;
}
#u7624 {
  position:absolute;
  left:0px;
  top:57px;
  width:1168px;
  height:54px;
}
#u7625 {
  position:absolute;
  left:2px;
  top:19px;
  width:1164px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7626_div {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF9900;
}
#u7626 {
  position:absolute;
  left:14px;
  top:130px;
  width:164px;
  height:32px;
  color:#FF9900;
}
#u7627 {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  word-wrap:break-word;
}
#u7628_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1131px;
  height:92px;
}
#u7628 {
  position:absolute;
  left:2px;
  top:1049px;
  width:1131px;
  height:92px;
}
#u7629 {
  position:absolute;
  left:2px;
  top:38px;
  width:1127px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7630_div {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7630 {
  position:absolute;
  left:331px;
  top:1075px;
  width:102px;
  height:40px;
}
#u7631 {
  position:absolute;
  left:2px;
  top:12px;
  width:98px;
  word-wrap:break-word;
}
#u7632_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:40px;
  background:inherit;
  background-color:rgba(174, 174, 174, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#1E1E1E;
}
#u7632 {
  position:absolute;
  left:476px;
  top:1075px;
  width:99px;
  height:40px;
  color:#1E1E1E;
}
#u7633 {
  position:absolute;
  left:2px;
  top:12px;
  width:95px;
  word-wrap:break-word;
}
#u7634_div {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7634 {
  position:absolute;
  left:214px;
  top:156px;
  width:118px;
  height:17px;
}
#u7635 {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  white-space:nowrap;
}
#u7636 {
  position:absolute;
  left:351px;
  top:156px;
  width:454px;
  height:22px;
}
#u7636_input {
  position:absolute;
  left:0px;
  top:0px;
  width:454px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u7636_input:disabled {
  color:grayText;
}
#u7637_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1093px;
  height:2px;
}
#u7637 {
  position:absolute;
  left:61px;
  top:256px;
  width:1092px;
  height:1px;
  color:#0066CC;
}
#u7638 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1088px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7639_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0066CC;
}
#u7639 {
  position:absolute;
  left:61px;
  top:240px;
  width:57px;
  height:17px;
  color:#0066CC;
}
#u7640 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u7641_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1093px;
  height:2px;
}
#u7641 {
  position:absolute;
  left:61px;
  top:564px;
  width:1092px;
  height:1px;
  color:#0066CC;
}
#u7642 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1088px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7643_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0066CC;
}
#u7643 {
  position:absolute;
  left:61px;
  top:548px;
  width:57px;
  height:17px;
  color:#0066CC;
}
#u7644 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u7645_div {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7645 {
  position:absolute;
  left:164px;
  top:649px;
  width:160px;
  height:17px;
}
#u7646 {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  white-space:nowrap;
}
#u7647 {
  position:absolute;
  left:343px;
  top:649px;
  width:492px;
  height:22px;
}
#u7647_input {
  position:absolute;
  left:0px;
  top:0px;
  width:492px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u7647_input:disabled {
  color:grayText;
}
#u7648 {
  position:absolute;
  left:343px;
  top:681px;
  width:492px;
  height:117px;
}
#u7648_input {
  position:absolute;
  left:0px;
  top:0px;
  width:492px;
  height:117px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u7649_div {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7649 {
  position:absolute;
  left:221px;
  top:592px;
  width:104px;
  height:17px;
}
#u7650 {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  white-space:nowrap;
}
#u7651 {
  position:absolute;
  left:343px;
  top:593px;
  width:100px;
  height:16px;
}
#u7652 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u7651_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u7653 {
  position:absolute;
  left:478px;
  top:593px;
  width:100px;
  height:16px;
}
#u7654 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u7653_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u7655_div {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7655 {
  position:absolute;
  left:221px;
  top:681px;
  width:104px;
  height:17px;
}
#u7656 {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  white-space:nowrap;
}
#u7657_div {
  position:absolute;
  left:0px;
  top:0px;
  width:277px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7657 {
  position:absolute;
  left:371px;
  top:326px;
  width:277px;
  height:32px;
}
#u7658 {
  position:absolute;
  left:0px;
  top:0px;
  width:277px;
  word-wrap:break-word;
}
#u7659_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7659 {
  position:absolute;
  left:262px;
  top:368px;
  width:57px;
  height:17px;
}
#u7660 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u7661 {
  position:absolute;
  left:349px;
  top:368px;
  width:364px;
  height:170px;
}
#u7661_input {
  position:absolute;
  left:0px;
  top:0px;
  width:364px;
  height:170px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u7662 {
  position:absolute;
  left:225px;
  top:368px;
  width:100px;
  height:16px;
}
#u7663 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7662_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u7664_div {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7664 {
  position:absolute;
  left:202px;
  top:200px;
  width:132px;
  height:17px;
}
#u7665 {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  white-space:nowrap;
}
#u7666 {
  position:absolute;
  left:352px;
  top:196px;
  width:162px;
  height:25px;
}
#u7666_input {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u7667_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7667 {
  position:absolute;
  left:524px;
  top:200px;
  width:15px;
  height:17px;
}
#u7668 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  word-wrap:break-word;
}
#u7669_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7669 {
  position:absolute;
  left:262px;
  top:294px;
  width:99px;
  height:17px;
}
#u7670 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u7671 {
  position:absolute;
  left:371px;
  top:294px;
  width:493px;
  height:22px;
}
#u7671_input {
  position:absolute;
  left:0px;
  top:0px;
  width:493px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u7671_input:disabled {
  color:grayText;
}
#u7672 {
  position:absolute;
  left:225px;
  top:294px;
  width:100px;
  height:16px;
}
#u7673 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7672_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u7674_div {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:30px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7674 {
  position:absolute;
  left:723px;
  top:508px;
  width:82px;
  height:30px;
}
#u7675 {
  position:absolute;
  left:2px;
  top:7px;
  width:78px;
  word-wrap:break-word;
}
#u7676_div {
  position:absolute;
  left:0px;
  top:0px;
  width:277px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7676 {
  position:absolute;
  left:349px;
  top:538px;
  width:277px;
  height:32px;
}
#u7677 {
  position:absolute;
  left:0px;
  top:0px;
  width:277px;
  word-wrap:break-word;
}
#u7678 {
  position:absolute;
  left:810px;
  top:168px;
  width:0px;
  height:0px;
}
#u7678_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:113px;
  height:8px;
}
#u7678_seg1 {
  position:absolute;
  left:94px;
  top:-10px;
  width:20px;
  height:20px;
}
#u7679 {
  position:absolute;
  left:4px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7680_div {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7680 {
  position:absolute;
  left:221px;
  top:1018px;
  width:104px;
  height:17px;
}
#u7681 {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  white-space:nowrap;
}
#u7682 {
  position:absolute;
  left:343px;
  top:1014px;
  width:300px;
  height:25px;
}
#u7682_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u7683_div {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7683 {
  position:absolute;
  left:165px;
  top:828px;
  width:160px;
  height:17px;
}
#u7684 {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  white-space:nowrap;
}
#u7685 {
  position:absolute;
  left:343px;
  top:828px;
  width:492px;
  height:22px;
}
#u7685_input {
  position:absolute;
  left:0px;
  top:0px;
  width:492px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u7685_input:disabled {
  color:grayText;
}
#u7686 {
  position:absolute;
  left:343px;
  top:860px;
  width:492px;
  height:117px;
}
#u7686_input {
  position:absolute;
  left:0px;
  top:0px;
  width:492px;
  height:117px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u7687_div {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7687 {
  position:absolute;
  left:221px;
  top:860px;
  width:104px;
  height:17px;
}
#u7688 {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  white-space:nowrap;
}
#u7689_div {
  position:absolute;
  left:0px;
  top:0px;
  width:432px;
  height:247px;
  background:inherit;
  background-color:rgba(208, 225, 125, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u7689 {
  position:absolute;
  left:922px;
  top:138px;
  width:432px;
  height:247px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u7690 {
  position:absolute;
  left:10px;
  top:10px;
  width:412px;
  word-wrap:break-word;
}
