body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1168px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u8571_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1167px;
  height:2px;
}
#u8571 {
  position:absolute;
  left:2px;
  top:50px;
  width:1166px;
  height:1px;
}
#u8572 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1162px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8573_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:26px;
  color:#0066CC;
}
#u8573 {
  position:absolute;
  left:14px;
  top:8px;
  width:105px;
  height:30px;
  font-size:26px;
  color:#0066CC;
}
#u8574 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u8575_div {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 204, 153, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u8575 {
  position:absolute;
  left:1058px;
  top:0px;
  width:95px;
  height:40px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u8576 {
  position:absolute;
  left:2px;
  top:12px;
  width:91px;
  word-wrap:break-word;
}
#u8577_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1168px;
  height:54px;
}
#u8577 {
  position:absolute;
  left:0px;
  top:57px;
  width:1168px;
  height:54px;
}
#u8578 {
  position:absolute;
  left:2px;
  top:19px;
  width:1164px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8579_div {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF9900;
}
#u8579 {
  position:absolute;
  left:14px;
  top:130px;
  width:164px;
  height:32px;
  color:#FF9900;
}
#u8580 {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  word-wrap:break-word;
}
#u8581_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1131px;
  height:92px;
}
#u8581 {
  position:absolute;
  left:14px;
  top:388px;
  width:1131px;
  height:92px;
}
#u8582 {
  position:absolute;
  left:2px;
  top:38px;
  width:1127px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8583_div {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8583 {
  position:absolute;
  left:360px;
  top:414px;
  width:102px;
  height:40px;
}
#u8584 {
  position:absolute;
  left:2px;
  top:12px;
  width:98px;
  word-wrap:break-word;
}
#u8585_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8585 {
  position:absolute;
  left:488px;
  top:414px;
  width:99px;
  height:40px;
}
#u8586 {
  position:absolute;
  left:2px;
  top:12px;
  width:95px;
  word-wrap:break-word;
}
#u8587_div {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8587 {
  position:absolute;
  left:229px;
  top:193px;
  width:104px;
  height:17px;
}
#u8588 {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  white-space:nowrap;
}
#u8589 {
  position:absolute;
  left:351px;
  top:194px;
  width:492px;
  height:25px;
}
#u8589_input {
  position:absolute;
  left:0px;
  top:0px;
  width:492px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u8590 {
  position:absolute;
  left:351px;
  top:240px;
  width:100px;
  height:16px;
}
#u8591 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u8590_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u8592 {
  position:absolute;
  left:451px;
  top:240px;
  width:100px;
  height:16px;
}
#u8593 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u8592_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u8594_div {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8594 {
  position:absolute;
  left:229px;
  top:240px;
  width:104px;
  height:17px;
}
#u8595 {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  white-space:nowrap;
}
#u8596_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8596 {
  position:absolute;
  left:231px;
  top:275px;
  width:101px;
  height:17px;
}
#u8597 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
#u8598 {
  position:absolute;
  left:346px;
  top:274px;
  width:332px;
  height:91px;
}
#u8598_input {
  position:absolute;
  left:0px;
  top:0px;
  width:332px;
  height:91px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
