body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1159px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2181 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2182 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2183 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2184 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2185 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2186_div {
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:956px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2186 {
  position:absolute;
  left:126px;
  top:64px;
  width:322px;
  height:956px;
}
#u2187 {
  position:absolute;
  left:2px;
  top:470px;
  width:318px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2188_img {
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  height:2px;
}
#u2188 {
  position:absolute;
  left:127px;
  top:140px;
  width:322px;
  height:1px;
}
#u2189 {
  position:absolute;
  left:2px;
  top:-8px;
  width:318px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2190_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2190 {
  position:absolute;
  left:258px;
  top:104px;
  width:57px;
  height:17px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2191 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2192_div {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2192 {
  position:absolute;
  left:144px;
  top:103px;
  width:9px;
  height:17px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2193 {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  white-space:nowrap;
}
#u2194_img {
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:2px;
}
#u2194 {
  position:absolute;
  left:125px;
  top:183px;
  width:321px;
  height:1px;
}
#u2195 {
  position:absolute;
  left:2px;
  top:-8px;
  width:317px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2196_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u2196 {
  position:absolute;
  left:149px;
  top:153px;
  width:50px;
  height:16px;
  font-size:13px;
}
#u2197 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  white-space:nowrap;
}
#u2198_img {
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  height:25px;
}
#u2198 {
  position:absolute;
  left:126px;
  top:65px;
  width:323px;
  height:25px;
}
#u2199 {
  position:absolute;
  left:2px;
  top:4px;
  width:319px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2200 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2201_div {
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:116px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(188, 188, 188, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2201 {
  position:absolute;
  left:126px;
  top:177px;
  width:322px;
  height:116px;
}
#u2202 {
  position:absolute;
  left:2px;
  top:50px;
  width:318px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2203_div {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u2203 {
  position:absolute;
  left:171px;
  top:185px;
  width:64px;
  height:15px;
  font-size:12px;
}
#u2204 {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  white-space:nowrap;
}
#u2205_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:2px;
}
#u2205 {
  position:absolute;
  left:126px;
  top:205px;
  width:319px;
  height:1px;
}
#u2206 {
  position:absolute;
  left:2px;
  top:-8px;
  width:315px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2207_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:23px;
}
#u2207 {
  position:absolute;
  left:139px;
  top:181px;
  width:17px;
  height:23px;
}
#u2208 {
  position:absolute;
  left:2px;
  top:4px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2209_div {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u2209 {
  position:absolute;
  left:166px;
  top:221px;
  width:64px;
  height:15px;
  font-size:12px;
}
#u2210 {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  white-space:nowrap;
}
#u2211_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:18px;
}
#u2211 {
  position:absolute;
  left:139px;
  top:216px;
  width:17px;
  height:18px;
}
#u2212 {
  position:absolute;
  left:2px;
  top:1px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2213_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:7px;
}
#u2213 {
  position:absolute;
  left:145px;
  top:250px;
  width:6px;
  height:7px;
}
#u2214 {
  position:absolute;
  left:2px;
  top:-4px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2215_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:7px;
}
#u2215 {
  position:absolute;
  left:145px;
  top:274px;
  width:6px;
  height:7px;
}
#u2216 {
  position:absolute;
  left:2px;
  top:-4px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2217_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u2217 {
  position:absolute;
  left:161px;
  top:246px;
  width:121px;
  height:15px;
  font-size:12px;
}
#u2218 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u2219_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u2219 {
  position:absolute;
  left:161px;
  top:269px;
  width:97px;
  height:15px;
  font-size:12px;
}
#u2220 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u2221_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#000000;
}
#u2221 {
  position:absolute;
  left:298px;
  top:272px;
  width:70px;
  height:13px;
  font-size:11px;
  color:#000000;
}
#u2222 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  white-space:nowrap;
}
#u2223_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u2223 {
  position:absolute;
  left:318px;
  top:224px;
  width:35px;
  height:35px;
  font-size:11px;
}
#u2224 {
  position:absolute;
  left:2px;
  top:4px;
  width:31px;
  word-wrap:break-word;
}
#u2225_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:66px;
}
#u2225 {
  position:absolute;
  left:380px;
  top:218px;
  width:1px;
  height:65px;
}
#u2226 {
  position:absolute;
  left:2px;
  top:24px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2227_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u2227 {
  position:absolute;
  left:391px;
  top:224px;
  width:37px;
  height:15px;
  font-size:12px;
}
#u2228 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u2229_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:26px;
}
#u2229 {
  position:absolute;
  left:395px;
  top:249px;
  width:29px;
  height:26px;
}
#u2230 {
  position:absolute;
  left:2px;
  top:5px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2231 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2232_div {
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:116px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(188, 188, 188, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2232 {
  position:absolute;
  left:127px;
  top:299px;
  width:322px;
  height:116px;
}
#u2233 {
  position:absolute;
  left:2px;
  top:50px;
  width:318px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2234_div {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u2234 {
  position:absolute;
  left:172px;
  top:307px;
  width:64px;
  height:15px;
  font-size:12px;
}
#u2235 {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  white-space:nowrap;
}
#u2236_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:2px;
}
#u2236 {
  position:absolute;
  left:127px;
  top:327px;
  width:319px;
  height:1px;
}
#u2237 {
  position:absolute;
  left:2px;
  top:-8px;
  width:315px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2238_div {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u2238 {
  position:absolute;
  left:167px;
  top:343px;
  width:64px;
  height:15px;
  font-size:12px;
}
#u2239 {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  white-space:nowrap;
}
#u2240_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:18px;
}
#u2240 {
  position:absolute;
  left:140px;
  top:338px;
  width:17px;
  height:18px;
}
#u2241 {
  position:absolute;
  left:2px;
  top:1px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2242_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:7px;
}
#u2242 {
  position:absolute;
  left:146px;
  top:372px;
  width:6px;
  height:7px;
}
#u2243 {
  position:absolute;
  left:2px;
  top:-4px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2244_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:7px;
}
#u2244 {
  position:absolute;
  left:146px;
  top:396px;
  width:6px;
  height:7px;
}
#u2245 {
  position:absolute;
  left:2px;
  top:-4px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2246_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u2246 {
  position:absolute;
  left:162px;
  top:368px;
  width:121px;
  height:15px;
  font-size:12px;
}
#u2247 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u2248_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u2248 {
  position:absolute;
  left:162px;
  top:391px;
  width:97px;
  height:15px;
  font-size:12px;
}
#u2249 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u2250_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:16px;
}
#u2250 {
  position:absolute;
  left:142px;
  top:306px;
  width:14px;
  height:16px;
}
#u2251 {
  position:absolute;
  left:2px;
  top:0px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2252_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#000000;
}
#u2252 {
  position:absolute;
  left:298px;
  top:391px;
  width:70px;
  height:13px;
  font-size:11px;
  color:#000000;
}
#u2253 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  white-space:nowrap;
}
#u2254_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u2254 {
  position:absolute;
  left:318px;
  top:343px;
  width:35px;
  height:35px;
  font-size:11px;
}
#u2255 {
  position:absolute;
  left:2px;
  top:4px;
  width:31px;
  word-wrap:break-word;
}
#u2256_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:66px;
}
#u2256 {
  position:absolute;
  left:380px;
  top:338px;
  width:1px;
  height:65px;
}
#u2257 {
  position:absolute;
  left:2px;
  top:24px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2258_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u2258 {
  position:absolute;
  left:393px;
  top:343px;
  width:37px;
  height:15px;
  font-size:12px;
}
#u2259 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u2260_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:26px;
}
#u2260 {
  position:absolute;
  left:395px;
  top:375px;
  width:29px;
  height:26px;
}
#u2261 {
  position:absolute;
  left:2px;
  top:5px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2262 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2263_div {
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:116px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(188, 188, 188, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2263 {
  position:absolute;
  left:126px;
  top:427px;
  width:322px;
  height:116px;
}
#u2264 {
  position:absolute;
  left:2px;
  top:50px;
  width:318px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2265_div {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u2265 {
  position:absolute;
  left:171px;
  top:435px;
  width:64px;
  height:15px;
  font-size:12px;
}
#u2266 {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  white-space:nowrap;
}
#u2267_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:2px;
}
#u2267 {
  position:absolute;
  left:126px;
  top:455px;
  width:319px;
  height:1px;
}
#u2268 {
  position:absolute;
  left:2px;
  top:-8px;
  width:315px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2269_div {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u2269 {
  position:absolute;
  left:166px;
  top:471px;
  width:64px;
  height:15px;
  font-size:12px;
}
#u2270 {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  white-space:nowrap;
}
#u2271_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:18px;
}
#u2271 {
  position:absolute;
  left:139px;
  top:466px;
  width:17px;
  height:18px;
}
#u2272 {
  position:absolute;
  left:2px;
  top:1px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2273_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:7px;
}
#u2273 {
  position:absolute;
  left:145px;
  top:500px;
  width:6px;
  height:7px;
}
#u2274 {
  position:absolute;
  left:2px;
  top:-4px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2275_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:7px;
}
#u2275 {
  position:absolute;
  left:145px;
  top:524px;
  width:6px;
  height:7px;
}
#u2276 {
  position:absolute;
  left:2px;
  top:-4px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2277_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u2277 {
  position:absolute;
  left:161px;
  top:496px;
  width:121px;
  height:15px;
  font-size:12px;
}
#u2278 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u2279_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u2279 {
  position:absolute;
  left:161px;
  top:519px;
  width:97px;
  height:15px;
  font-size:12px;
}
#u2280 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u2281_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u2281 {
  position:absolute;
  left:395px;
  top:460px;
  width:37px;
  height:15px;
  font-size:12px;
}
#u2282 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u2283 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2284_div {
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:116px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(188, 188, 188, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2284 {
  position:absolute;
  left:127px;
  top:582px;
  width:322px;
  height:116px;
}
#u2285 {
  position:absolute;
  left:2px;
  top:50px;
  width:318px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2286_div {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u2286 {
  position:absolute;
  left:172px;
  top:590px;
  width:64px;
  height:15px;
  font-size:12px;
}
#u2287 {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  white-space:nowrap;
}
#u2288_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:2px;
}
#u2288 {
  position:absolute;
  left:127px;
  top:610px;
  width:319px;
  height:1px;
}
#u2289 {
  position:absolute;
  left:2px;
  top:-8px;
  width:315px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2290_div {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u2290 {
  position:absolute;
  left:167px;
  top:626px;
  width:64px;
  height:15px;
  font-size:12px;
}
#u2291 {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  white-space:nowrap;
}
#u2292_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:18px;
}
#u2292 {
  position:absolute;
  left:140px;
  top:621px;
  width:17px;
  height:18px;
}
#u2293 {
  position:absolute;
  left:2px;
  top:1px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2294_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:7px;
}
#u2294 {
  position:absolute;
  left:146px;
  top:655px;
  width:6px;
  height:7px;
}
#u2295 {
  position:absolute;
  left:2px;
  top:-4px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2296_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:7px;
}
#u2296 {
  position:absolute;
  left:146px;
  top:679px;
  width:6px;
  height:7px;
}
#u2297 {
  position:absolute;
  left:2px;
  top:-4px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2298_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u2298 {
  position:absolute;
  left:162px;
  top:651px;
  width:121px;
  height:15px;
  font-size:12px;
}
#u2299 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u2300_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u2300 {
  position:absolute;
  left:162px;
  top:674px;
  width:97px;
  height:15px;
  font-size:12px;
}
#u2301 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u2302_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:16px;
}
#u2302 {
  position:absolute;
  left:142px;
  top:589px;
  width:14px;
  height:16px;
}
#u2303 {
  position:absolute;
  left:2px;
  top:0px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2304_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u2304 {
  position:absolute;
  left:395px;
  top:626px;
  width:37px;
  height:15px;
  font-size:12px;
}
#u2305 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u2306 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2307_div {
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:116px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(188, 188, 188, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2307 {
  position:absolute;
  left:127px;
  top:711px;
  width:322px;
  height:116px;
}
#u2308 {
  position:absolute;
  left:2px;
  top:50px;
  width:318px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2309_div {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u2309 {
  position:absolute;
  left:172px;
  top:719px;
  width:64px;
  height:15px;
  font-size:12px;
}
#u2310 {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  white-space:nowrap;
}
#u2311_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:2px;
}
#u2311 {
  position:absolute;
  left:127px;
  top:739px;
  width:319px;
  height:1px;
}
#u2312 {
  position:absolute;
  left:2px;
  top:-8px;
  width:315px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2313_div {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u2313 {
  position:absolute;
  left:167px;
  top:755px;
  width:64px;
  height:15px;
  font-size:12px;
}
#u2314 {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  white-space:nowrap;
}
#u2315_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:18px;
}
#u2315 {
  position:absolute;
  left:140px;
  top:750px;
  width:17px;
  height:18px;
}
#u2316 {
  position:absolute;
  left:2px;
  top:1px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2317_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:7px;
}
#u2317 {
  position:absolute;
  left:146px;
  top:784px;
  width:6px;
  height:7px;
}
#u2318 {
  position:absolute;
  left:2px;
  top:-4px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2319_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:7px;
}
#u2319 {
  position:absolute;
  left:146px;
  top:808px;
  width:6px;
  height:7px;
}
#u2320 {
  position:absolute;
  left:2px;
  top:-4px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2321_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u2321 {
  position:absolute;
  left:162px;
  top:780px;
  width:121px;
  height:15px;
  font-size:12px;
}
#u2322 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u2323_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u2323 {
  position:absolute;
  left:162px;
  top:803px;
  width:97px;
  height:15px;
  font-size:12px;
}
#u2324 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u2325_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:16px;
}
#u2325 {
  position:absolute;
  left:142px;
  top:718px;
  width:14px;
  height:16px;
}
#u2326 {
  position:absolute;
  left:2px;
  top:0px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2327_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u2327 {
  position:absolute;
  left:395px;
  top:755px;
  width:37px;
  height:16px;
  font-size:12px;
}
#u2328 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u2329_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 204, 102, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#00CC66;
}
#u2329 {
  position:absolute;
  left:389px;
  top:97px;
  width:53px;
  height:20px;
  font-size:11px;
  color:#00CC66;
}
#u2330 {
  position:absolute;
  left:2px;
  top:4px;
  width:49px;
  word-wrap:break-word;
}
#u2331_div {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2331 {
  position:absolute;
  left:391px;
  top:663px;
  width:39px;
  height:17px;
}
#u2332 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
#u2333 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2334_div {
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:116px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(188, 188, 188, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2334 {
  position:absolute;
  left:127px;
  top:845px;
  width:322px;
  height:116px;
}
#u2335 {
  position:absolute;
  left:2px;
  top:50px;
  width:318px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2336_div {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u2336 {
  position:absolute;
  left:172px;
  top:853px;
  width:64px;
  height:15px;
  font-size:12px;
}
#u2337 {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  white-space:nowrap;
}
#u2338_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:2px;
}
#u2338 {
  position:absolute;
  left:127px;
  top:873px;
  width:319px;
  height:1px;
}
#u2339 {
  position:absolute;
  left:2px;
  top:-8px;
  width:315px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2340_div {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u2340 {
  position:absolute;
  left:167px;
  top:889px;
  width:64px;
  height:15px;
  font-size:12px;
}
#u2341 {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  white-space:nowrap;
}
#u2342_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:18px;
}
#u2342 {
  position:absolute;
  left:140px;
  top:884px;
  width:17px;
  height:18px;
}
#u2343 {
  position:absolute;
  left:2px;
  top:1px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2344_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:7px;
}
#u2344 {
  position:absolute;
  left:146px;
  top:918px;
  width:6px;
  height:7px;
}
#u2345 {
  position:absolute;
  left:2px;
  top:-4px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2346_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:7px;
}
#u2346 {
  position:absolute;
  left:146px;
  top:942px;
  width:6px;
  height:7px;
}
#u2347 {
  position:absolute;
  left:2px;
  top:-4px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2348_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u2348 {
  position:absolute;
  left:162px;
  top:914px;
  width:121px;
  height:15px;
  font-size:12px;
}
#u2349 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u2350_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u2350 {
  position:absolute;
  left:162px;
  top:937px;
  width:97px;
  height:15px;
  font-size:12px;
}
#u2351 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u2352_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:16px;
}
#u2352 {
  position:absolute;
  left:142px;
  top:852px;
  width:14px;
  height:16px;
}
#u2353 {
  position:absolute;
  left:2px;
  top:0px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2354_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u2354 {
  position:absolute;
  left:383px;
  top:887px;
  width:49px;
  height:15px;
  font-size:12px;
}
#u2355 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u2356_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u2356 {
  position:absolute;
  left:142px;
  top:556px;
  width:50px;
  height:16px;
  font-size:13px;
}
#u2357 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  white-space:nowrap;
}
#u2358_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:23px;
}
#u2358 {
  position:absolute;
  left:139px;
  top:430px;
  width:17px;
  height:23px;
}
#u2359 {
  position:absolute;
  left:2px;
  top:4px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2360_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#000000;
}
#u2360 {
  position:absolute;
  left:293px;
  top:937px;
  width:70px;
  height:13px;
  font-size:11px;
  color:#000000;
}
#u2361 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  white-space:nowrap;
}
#u2362_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u2362 {
  position:absolute;
  left:313px;
  top:889px;
  width:35px;
  height:35px;
  font-size:11px;
}
#u2363 {
  position:absolute;
  left:2px;
  top:4px;
  width:31px;
  word-wrap:break-word;
}
#u2364_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:66px;
}
#u2364 {
  position:absolute;
  left:375px;
  top:884px;
  width:1px;
  height:65px;
}
#u2365 {
  position:absolute;
  left:2px;
  top:24px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2366_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:26px;
}
#u2366 {
  position:absolute;
  left:390px;
  top:921px;
  width:29px;
  height:26px;
}
#u2367 {
  position:absolute;
  left:2px;
  top:5px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2368_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#000000;
}
#u2368 {
  position:absolute;
  left:298px;
  top:513px;
  width:70px;
  height:13px;
  font-size:11px;
  color:#000000;
}
#u2369 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  white-space:nowrap;
}
#u2370_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u2370 {
  position:absolute;
  left:318px;
  top:465px;
  width:35px;
  height:35px;
  font-size:11px;
}
#u2371 {
  position:absolute;
  left:2px;
  top:4px;
  width:31px;
  word-wrap:break-word;
}
#u2372_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:66px;
}
#u2372 {
  position:absolute;
  left:380px;
  top:460px;
  width:1px;
  height:65px;
}
#u2373 {
  position:absolute;
  left:2px;
  top:24px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2374_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:26px;
}
#u2374 {
  position:absolute;
  left:395px;
  top:497px;
  width:29px;
  height:26px;
}
#u2375 {
  position:absolute;
  left:2px;
  top:5px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2376_div {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u2376 {
  position:absolute;
  left:504px;
  top:97px;
  width:197px;
  height:17px;
  color:#FF0000;
}
#u2377 {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  white-space:nowrap;
}
#u2378_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:37px;
}
#u2378 {
  position:absolute;
  left:374px;
  top:92px;
  width:84px;
  height:37px;
}
#u2379 {
  position:absolute;
  left:2px;
  top:10px;
  width:80px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2380_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:2px;
}
#u2380 {
  position:absolute;
  left:452px;
  top:105px;
  width:52px;
  height:1px;
}
#u2381 {
  position:absolute;
  left:2px;
  top:-8px;
  width:48px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2382_img {
  position:absolute;
  left:0px;
  top:0px;
  width:473px;
  height:154px;
}
#u2382 {
  position:absolute;
  left:511px;
  top:127px;
  width:473px;
  height:154px;
  color:#FF0000;
}
#u2383 {
  position:absolute;
  left:0px;
  top:0px;
  width:473px;
  word-wrap:break-word;
}
#u2384_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#A1A1A1;
}
#u2384 {
  position:absolute;
  left:253px;
  top:1003px;
  width:57px;
  height:17px;
  color:#A1A1A1;
}
#u2385 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2386_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:21px;
}
#u2386 {
  position:absolute;
  left:269px;
  top:972px;
  width:26px;
  height:21px;
}
#u2387 {
  position:absolute;
  left:2px;
  top:2px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2388_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:58px;
}
#u2388 {
  position:absolute;
  left:222px;
  top:962px;
  width:117px;
  height:58px;
}
#u2389 {
  position:absolute;
  left:2px;
  top:21px;
  width:113px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2390_img {
  position:absolute;
  left:0px;
  top:0px;
  width:668px;
  height:310px;
}
#u2390 {
  position:absolute;
  left:491px;
  top:287px;
  width:668px;
  height:310px;
}
#u2391 {
  position:absolute;
  left:2px;
  top:147px;
  width:664px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2392_div {
  position:absolute;
  left:0px;
  top:0px;
  width:429px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#FF0033;
}
#u2392 {
  position:absolute;
  left:491px;
  top:638px;
  width:429px;
  height:51px;
  font-size:13px;
  color:#FF0033;
}
#u2393 {
  position:absolute;
  left:0px;
  top:0px;
  width:429px;
  word-wrap:break-word;
}
#u2394_img {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:2px;
}
#u2394 {
  position:absolute;
  left:343px;
  top:655px;
  width:141px;
  height:1px;
}
#u2395 {
  position:absolute;
  left:2px;
  top:-8px;
  width:137px;
  visibility:hidden;
  word-wrap:break-word;
}
