body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:431px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2928_div {
  position:absolute;
  left:0px;
  top:0px;
  width:328px;
  height:569px;
  background:inherit;
  background-color:rgba(54, 169, 206, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u2928 {
  position:absolute;
  left:103px;
  top:25px;
  width:328px;
  height:569px;
}
#u2929 {
  position:absolute;
  left:10px;
  top:10px;
  width:308px;
  word-wrap:break-word;
}
