body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1168px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6809_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1167px;
  height:2px;
}
#u6809 {
  position:absolute;
  left:2px;
  top:50px;
  width:1166px;
  height:1px;
}
#u6810 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1162px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6811_div {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:26px;
  color:#0066CC;
}
#u6811 {
  position:absolute;
  left:14px;
  top:8px;
  width:131px;
  height:30px;
  font-size:26px;
  color:#0066CC;
}
#u6812 {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  white-space:nowrap;
}
#u6813_div {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 204, 153, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u6813 {
  position:absolute;
  left:1058px;
  top:0px;
  width:95px;
  height:40px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u6814 {
  position:absolute;
  left:2px;
  top:12px;
  width:91px;
  word-wrap:break-word;
}
#u6815_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1168px;
  height:54px;
}
#u6815 {
  position:absolute;
  left:0px;
  top:57px;
  width:1168px;
  height:54px;
}
#u6816 {
  position:absolute;
  left:2px;
  top:19px;
  width:1164px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6817_div {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF9900;
}
#u6817 {
  position:absolute;
  left:14px;
  top:130px;
  width:164px;
  height:32px;
  color:#FF9900;
}
#u6818 {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  word-wrap:break-word;
}
#u6819_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1131px;
  height:92px;
}
#u6819 {
  position:absolute;
  left:14px;
  top:398px;
  width:1131px;
  height:92px;
}
#u6820 {
  position:absolute;
  left:2px;
  top:38px;
  width:1127px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6821_div {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6821 {
  position:absolute;
  left:360px;
  top:424px;
  width:102px;
  height:40px;
}
#u6822 {
  position:absolute;
  left:2px;
  top:12px;
  width:98px;
  word-wrap:break-word;
}
#u6823_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6823 {
  position:absolute;
  left:488px;
  top:424px;
  width:99px;
  height:40px;
}
#u6824 {
  position:absolute;
  left:2px;
  top:12px;
  width:95px;
  word-wrap:break-word;
}
#u6825_div {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6825 {
  position:absolute;
  left:199px;
  top:193px;
  width:146px;
  height:17px;
}
#u6826 {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  white-space:nowrap;
}
#u6827 {
  position:absolute;
  left:351px;
  top:194px;
  width:492px;
  height:25px;
}
#u6827_input {
  position:absolute;
  left:0px;
  top:0px;
  width:492px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u6828_div {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6828 {
  position:absolute;
  left:247px;
  top:250px;
  width:88px;
  height:17px;
}
#u6829 {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  word-wrap:break-word;
}
#u6830 {
  position:absolute;
  left:354px;
  top:245px;
  width:300px;
  height:22px;
}
#u6830_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u6830_input:disabled {
  color:grayText;
}
#u6831_div {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6831 {
  position:absolute;
  left:236px;
  top:283px;
  width:104px;
  height:17px;
}
#u6832 {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  white-space:nowrap;
}
#u6833 {
  position:absolute;
  left:358px;
  top:284px;
  width:492px;
  height:25px;
}
#u6833_input {
  position:absolute;
  left:0px;
  top:0px;
  width:492px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
