body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1105px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4992_div {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u4992 {
  position:absolute;
  left:17px;
  top:16px;
  width:151px;
  height:17px;
  color:#FF0000;
}
#u4993 {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  white-space:nowrap;
}
#u4994_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:525px;
}
#u4994 {
  position:absolute;
  left:60px;
  top:53px;
  width:301px;
  height:525px;
}
#u4995 {
  position:absolute;
  left:2px;
  top:254px;
  width:297px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4996_div {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4996 {
  position:absolute;
  left:417px;
  top:81px;
  width:148px;
  height:17px;
}
#u4997 {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  white-space:nowrap;
}
#u4998_div {
  position:absolute;
  left:0px;
  top:0px;
  width:297px;
  height:97px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4998 {
  position:absolute;
  left:440px;
  top:157px;
  width:297px;
  height:97px;
}
#u4999 {
  position:absolute;
  left:2px;
  top:40px;
  width:293px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5000_div {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5000 {
  position:absolute;
  left:476px;
  top:166px;
  width:215px;
  height:35px;
}
#u5001 {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  word-wrap:break-word;
}
#u5002_div {
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5002 {
  position:absolute;
  left:440px;
  top:108px;
  width:370px;
  height:39px;
}
#u5003 {
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  word-wrap:break-word;
}
#u5004_div {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5004 {
  position:absolute;
  left:411px;
  top:292px;
  width:163px;
  height:17px;
}
#u5005 {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  white-space:nowrap;
}
#u5006_div {
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5006 {
  position:absolute;
  left:434px;
  top:326px;
  width:370px;
  height:38px;
}
#u5007 {
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  word-wrap:break-word;
}
#u5008_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#FF6666;
}
#u5008 {
  position:absolute;
  left:809px;
  top:157px;
  width:120px;
  height:13px;
  font-size:11px;
  color:#FF6666;
}
#u5009 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  white-space:nowrap;
}
#u5010_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#FF6666;
}
#u5010 {
  position:absolute;
  left:803px;
  top:400px;
  width:120px;
  height:13px;
  font-size:11px;
  color:#FF6666;
}
#u5011 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  white-space:nowrap;
}
#u5012_div {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#FF6666;
}
#u5012 {
  position:absolute;
  left:809px;
  top:180px;
  width:126px;
  height:13px;
  font-size:11px;
  color:#FF6666;
}
#u5013 {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  white-space:nowrap;
}
#u5014_div {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#FF6666;
}
#u5014 {
  position:absolute;
  left:803px;
  top:423px;
  width:126px;
  height:13px;
  font-size:11px;
  color:#FF6666;
}
#u5015 {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  white-space:nowrap;
}
#u5016_img {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:2px;
}
#u5016 {
  position:absolute;
  left:440px;
  top:209px;
  width:297px;
  height:1px;
}
#u5017 {
  position:absolute;
  left:2px;
  top:-8px;
  width:293px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5018_div {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:37px;
  background:inherit;
  background-color:rgba(102, 204, 153, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5018 {
  position:absolute;
  left:591px;
  top:213px;
  width:144px;
  height:37px;
}
#u5019 {
  position:absolute;
  left:2px;
  top:10px;
  width:140px;
  word-wrap:break-word;
}
#u5020_div {
  position:absolute;
  left:0px;
  top:0px;
  width:297px;
  height:98px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5020 {
  position:absolute;
  left:434px;
  top:389px;
  width:297px;
  height:98px;
}
#u5021 {
  position:absolute;
  left:2px;
  top:41px;
  width:293px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5022_div {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5022 {
  position:absolute;
  left:470px;
  top:401px;
  width:230px;
  height:24px;
}
#u5023 {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  word-wrap:break-word;
}
#u5024_img {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:2px;
}
#u5024 {
  position:absolute;
  left:434px;
  top:441px;
  width:297px;
  height:1px;
}
#u5025 {
  position:absolute;
  left:2px;
  top:-8px;
  width:293px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5026_div {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5026 {
  position:absolute;
  left:411px;
  top:517px;
  width:106px;
  height:17px;
}
#u5027 {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  white-space:nowrap;
}
#u5028_div {
  position:absolute;
  left:0px;
  top:0px;
  width:297px;
  height:91px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5028 {
  position:absolute;
  left:434px;
  top:593px;
  width:297px;
  height:91px;
}
#u5029 {
  position:absolute;
  left:2px;
  top:38px;
  width:293px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5030_div {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5030 {
  position:absolute;
  left:451px;
  top:610px;
  width:280px;
  height:25px;
}
#u5031 {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  word-wrap:break-word;
}
#u5032_div {
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5032 {
  position:absolute;
  left:434px;
  top:544px;
  width:370px;
  height:39px;
}
#u5033 {
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  word-wrap:break-word;
}
#u5034_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#FF6666;
}
#u5034 {
  position:absolute;
  left:803px;
  top:593px;
  width:120px;
  height:13px;
  font-size:11px;
  color:#FF6666;
}
#u5035 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  white-space:nowrap;
}
#u5036_div {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#FF6666;
}
#u5036 {
  position:absolute;
  left:803px;
  top:616px;
  width:126px;
  height:13px;
  font-size:11px;
  color:#FF6666;
}
#u5037 {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  white-space:nowrap;
}
#u5038_img {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:2px;
}
#u5038 {
  position:absolute;
  left:434px;
  top:639px;
  width:297px;
  height:1px;
}
#u5039 {
  position:absolute;
  left:2px;
  top:-8px;
  width:293px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5040_div {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:37px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5040 {
  position:absolute;
  left:441px;
  top:213px;
  width:149px;
  height:37px;
}
#u5041 {
  position:absolute;
  left:2px;
  top:10px;
  width:145px;
  word-wrap:break-word;
}
#u5042_div {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:37px;
  background:inherit;
  background-color:rgba(102, 204, 153, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5042 {
  position:absolute;
  left:586px;
  top:444px;
  width:144px;
  height:37px;
}
#u5043 {
  position:absolute;
  left:2px;
  top:10px;
  width:140px;
  word-wrap:break-word;
}
#u5044_div {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:37px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5044 {
  position:absolute;
  left:436px;
  top:444px;
  width:149px;
  height:37px;
}
#u5045 {
  position:absolute;
  left:2px;
  top:10px;
  width:145px;
  word-wrap:break-word;
}
#u5046_div {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:37px;
  background:inherit;
  background-color:rgba(102, 204, 153, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5046 {
  position:absolute;
  left:584px;
  top:642px;
  width:144px;
  height:37px;
}
#u5047 {
  position:absolute;
  left:2px;
  top:10px;
  width:140px;
  word-wrap:break-word;
}
#u5048_div {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:37px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5048 {
  position:absolute;
  left:434px;
  top:642px;
  width:149px;
  height:37px;
}
#u5049 {
  position:absolute;
  left:2px;
  top:10px;
  width:145px;
  word-wrap:break-word;
}
#u5050_div {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u5050 {
  position:absolute;
  left:417px;
  top:54px;
  width:94px;
  height:17px;
  color:#FF0000;
}
#u5051 {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  white-space:nowrap;
}
#u5052_div {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u5052 {
  position:absolute;
  left:417px;
  top:726px;
  width:94px;
  height:21px;
  color:#FF0000;
}
#u5053 {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  white-space:nowrap;
}
#u5054_div {
  position:absolute;
  left:0px;
  top:0px;
  width:564px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5054 {
  position:absolute;
  left:417px;
  top:768px;
  width:564px;
  height:17px;
}
#u5055 {
  position:absolute;
  left:0px;
  top:0px;
  width:564px;
  white-space:nowrap;
}
#u5056_div {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:84px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5056 {
  position:absolute;
  left:417px;
  top:818px;
  width:640px;
  height:84px;
}
#u5057 {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  white-space:nowrap;
}
#u5058_img {
  position:absolute;
  left:0px;
  top:0px;
  width:433px;
  height:252px;
}
#u5058 {
  position:absolute;
  left:417px;
  top:942px;
  width:433px;
  height:252px;
}
#u5059 {
  position:absolute;
  left:2px;
  top:118px;
  width:429px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5060_div {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:52px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:left;
}
#u5060 {
  position:absolute;
  left:479px;
  top:1031px;
  width:298px;
  height:52px;
  color:#FFFFFF;
  text-align:left;
}
#u5061 {
  position:absolute;
  left:2px;
  top:10px;
  width:294px;
  word-wrap:break-word;
}
#u5062_div {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:52px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:left;
}
#u5062 {
  position:absolute;
  left:469px;
  top:1031px;
  width:308px;
  height:52px;
  color:#FFFFFF;
  text-align:left;
}
#u5063 {
  position:absolute;
  left:2px;
  top:18px;
  width:304px;
  word-wrap:break-word;
}
#u5064_div {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:43px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:left;
}
#u5064 {
  position:absolute;
  left:585px;
  top:988px;
  width:98px;
  height:43px;
  color:#FFFFFF;
  text-align:left;
}
#u5065 {
  position:absolute;
  left:2px;
  top:14px;
  width:94px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5066_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:73px;
}
#u5066 {
  position:absolute;
  left:601px;
  top:1109px;
  width:73px;
  height:73px;
}
#u5067 {
  position:absolute;
  left:2px;
  top:28px;
  width:69px;
  word-wrap:break-word;
}
#u5068_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5068 {
  position:absolute;
  left:894px;
  top:1135px;
  width:71px;
  height:21px;
}
#u5069 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u5070_div {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5070 {
  position:absolute;
  left:894px;
  top:999px;
  width:211px;
  height:21px;
}
#u5071 {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  white-space:nowrap;
}
