body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1361px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u953_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1343px;
  height:2px;
}
#u953 {
  position:absolute;
  left:2px;
  top:50px;
  width:1342px;
  height:1px;
}
#u954 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1338px;
  visibility:hidden;
  word-wrap:break-word;
}
#u955_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:26px;
  color:#0066CC;
}
#u955 {
  position:absolute;
  left:14px;
  top:8px;
  width:105px;
  height:30px;
  font-size:26px;
  color:#0066CC;
}
#u956 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u957_div {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 204, 153, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u957 {
  position:absolute;
  left:1233px;
  top:0px;
  width:111px;
  height:40px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u958 {
  position:absolute;
  left:2px;
  top:12px;
  width:107px;
  word-wrap:break-word;
}
#u959_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1361px;
  height:54px;
}
#u959 {
  position:absolute;
  left:0px;
  top:57px;
  width:1361px;
  height:54px;
}
#u960 {
  position:absolute;
  left:2px;
  top:19px;
  width:1357px;
  visibility:hidden;
  word-wrap:break-word;
}
#u961_div {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF9900;
}
#u961 {
  position:absolute;
  left:14px;
  top:130px;
  width:164px;
  height:32px;
  color:#FF9900;
}
#u962 {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  word-wrap:break-word;
}
#u963_div {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u963 {
  position:absolute;
  left:296px;
  top:191px;
  width:104px;
  height:17px;
}
#u964 {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  white-space:nowrap;
}
#u965_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1344px;
  height:92px;
}
#u965 {
  position:absolute;
  left:2px;
  top:392px;
  width:1344px;
  height:92px;
}
#u966 {
  position:absolute;
  left:2px;
  top:38px;
  width:1340px;
  visibility:hidden;
  word-wrap:break-word;
}
#u967_div {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u967 {
  position:absolute;
  left:428px;
  top:418px;
  width:102px;
  height:40px;
}
#u968 {
  position:absolute;
  left:2px;
  top:12px;
  width:98px;
  word-wrap:break-word;
}
#u969_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u969 {
  position:absolute;
  left:556px;
  top:418px;
  width:99px;
  height:40px;
}
#u970 {
  position:absolute;
  left:2px;
  top:12px;
  width:95px;
  word-wrap:break-word;
}
#u971 {
  position:absolute;
  left:419px;
  top:190px;
  width:494px;
  height:22px;
}
#u971_input {
  position:absolute;
  left:0px;
  top:0px;
  width:494px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u971_input:disabled {
  color:grayText;
}
#u972_div {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u972 {
  position:absolute;
  left:296px;
  top:252px;
  width:104px;
  height:17px;
}
#u973 {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  white-space:nowrap;
}
#u974 {
  position:absolute;
  left:419px;
  top:251px;
  width:494px;
  height:22px;
}
#u974_input {
  position:absolute;
  left:0px;
  top:0px;
  width:494px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u974_input:disabled {
  color:grayText;
}
#u975_div {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u975 {
  position:absolute;
  left:251px;
  top:303px;
  width:146px;
  height:17px;
}
#u976 {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  white-space:nowrap;
}
#u977 {
  position:absolute;
  left:419px;
  top:303px;
  width:494px;
  height:25px;
}
#u977_input {
  position:absolute;
  left:0px;
  top:0px;
  width:494px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u978 {
  position:absolute;
  left:419px;
  top:349px;
  width:100px;
  height:16px;
}
#u979 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u978_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
