body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:526px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u9377_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
  background:inherit;
  background-color:rgba(249, 249, 249, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9377 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:200px;
  width:320px;
  height:568px;
}
#u9377_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9378_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:813px;
  background:inherit;
  background-color:rgba(249, 249, 249, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9378 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:200px;
  width:320px;
  height:813px;
}
#u9378_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9379_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:64px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9379 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:200px;
  width:320px;
  height:64px;
}
#u9379_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9380 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9381_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u9381 {
  border-width:0px;
  position:absolute;
  left:208px;
  top:207px;
  width:5px;
  height:5px;
}
#u9381_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9382_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u9382 {
  border-width:0px;
  position:absolute;
  left:215px;
  top:207px;
  width:5px;
  height:5px;
}
#u9382_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9383_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u9383 {
  border-width:0px;
  position:absolute;
  left:222px;
  top:207px;
  width:5px;
  height:5px;
}
#u9383_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9384_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u9384 {
  border-width:0px;
  position:absolute;
  left:229px;
  top:207px;
  width:5px;
  height:5px;
}
#u9384_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9385_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u9385 {
  border-width:0px;
  position:absolute;
  left:236px;
  top:207px;
  width:5px;
  height:5px;
}
#u9385_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9386_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Tahoma Normal', 'Tahoma';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:center;
}
#u9386 {
  border-width:0px;
  position:absolute;
  left:246px;
  top:201px;
  width:25px;
  height:14px;
  font-family:'Tahoma Normal', 'Tahoma';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:center;
}
#u9386_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u9387_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Tahoma Normal', 'Tahoma';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:center;
}
#u9387 {
  border-width:0px;
  position:absolute;
  left:336px;
  top:202px;
  width:46px;
  height:14px;
  font-family:'Tahoma Normal', 'Tahoma';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:center;
}
#u9387_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  white-space:nowrap;
}
#u9388 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9389_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:6px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9389 {
  border-width:0px;
  position:absolute;
  left:491px;
  top:207px;
  width:21px;
  height:6px;
}
#u9389_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9390_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:10px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9390 {
  border-width:0px;
  position:absolute;
  left:489px;
  top:205px;
  width:24px;
  height:10px;
}
#u9390_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9391_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:3px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9391 {
  border-width:0px;
  position:absolute;
  left:511px;
  top:208px;
  width:4px;
  height:3px;
}
#u9391_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9392_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:15px;
}
#u9392 {
  border-width:0px;
  position:absolute;
  left:218px;
  top:237px;
  width:10px;
  height:15px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u9392_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9393_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#666666;
  text-align:center;
}
#u9393 {
  border-width:0px;
  position:absolute;
  left:328px;
  top:236px;
  width:65px;
  height:19px;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#666666;
  text-align:center;
}
#u9393_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u9394_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:64px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9394 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:200px;
  width:320px;
  height:64px;
}
#u9394_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9395 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9396_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u9396 {
  border-width:0px;
  position:absolute;
  left:208px;
  top:206px;
  width:5px;
  height:5px;
}
#u9396_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9397_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u9397 {
  border-width:0px;
  position:absolute;
  left:215px;
  top:206px;
  width:5px;
  height:5px;
}
#u9397_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9398_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u9398 {
  border-width:0px;
  position:absolute;
  left:222px;
  top:206px;
  width:5px;
  height:5px;
}
#u9398_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9399_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u9399 {
  border-width:0px;
  position:absolute;
  left:229px;
  top:206px;
  width:5px;
  height:5px;
}
#u9399_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9400_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u9400 {
  border-width:0px;
  position:absolute;
  left:236px;
  top:206px;
  width:5px;
  height:5px;
}
#u9400_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9401_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Tahoma Normal', 'Tahoma';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:center;
}
#u9401 {
  border-width:0px;
  position:absolute;
  left:246px;
  top:200px;
  width:25px;
  height:14px;
  font-family:'Tahoma Normal', 'Tahoma';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:center;
}
#u9401_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u9402_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Tahoma Normal', 'Tahoma';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:center;
}
#u9402 {
  border-width:0px;
  position:absolute;
  left:336px;
  top:202px;
  width:46px;
  height:14px;
  font-family:'Tahoma Normal', 'Tahoma';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:center;
}
#u9402_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  white-space:nowrap;
}
#u9403 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9404_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:6px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9404 {
  border-width:0px;
  position:absolute;
  left:491px;
  top:206px;
  width:21px;
  height:6px;
}
#u9404_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9405_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:10px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9405 {
  border-width:0px;
  position:absolute;
  left:489px;
  top:204px;
  width:24px;
  height:10px;
}
#u9405_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9406_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:3px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9406 {
  border-width:0px;
  position:absolute;
  left:511px;
  top:208px;
  width:4px;
  height:3px;
}
#u9406_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9407_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:15px;
}
#u9407 {
  border-width:0px;
  position:absolute;
  left:218px;
  top:236px;
  width:10px;
  height:15px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u9407_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9408_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Heiti SC Bold', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#434343;
  text-align:center;
}
#u9408 {
  border-width:0px;
  position:absolute;
  left:339px;
  top:236px;
  width:65px;
  height:19px;
  font-family:'Heiti SC Bold', 'Heiti SC';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#434343;
  text-align:center;
}
#u9408_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u9409_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:733px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(119, 119, 119, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9409 {
  border-width:0px;
  position:absolute;
  left:201px;
  top:264px;
  width:318px;
  height:733px;
}
#u9409_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9410_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:297px;
  height:306px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u9410 {
  border-width:0px;
  position:absolute;
  left:212px;
  top:677px;
  width:297px;
  height:306px;
  font-size:12px;
}
#u9410_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:297px;
  word-wrap:break-word;
}
#u9411 {
  border-width:0px;
  position:absolute;
  left:212px;
  top:274px;
  width:300px;
  height:24px;
}
#u9412_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:24px;
}
#u9412 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:24px;
  color:#E4E4E4;
}
#u9412_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:73px;
  word-wrap:break-word;
}
#u9413_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:24px;
}
#u9413 {
  border-width:0px;
  position:absolute;
  left:77px;
  top:0px;
  width:73px;
  height:24px;
}
#u9413_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:69px;
  word-wrap:break-word;
}
#u9414_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:24px;
}
#u9414 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:0px;
  width:75px;
  height:24px;
  font-family:'PingFang SC 中等', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u9414_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:71px;
  word-wrap:break-word;
}
#u9415_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:24px;
}
#u9415 {
  border-width:0px;
  position:absolute;
  left:225px;
  top:0px;
  width:75px;
  height:24px;
  font-family:'PingFang SC 中等', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u9415_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:71px;
  word-wrap:break-word;
}
#u9416 {
  border-width:0px;
  position:absolute;
  left:212px;
  top:343px;
  width:297px;
  height:324px;
}
#u9417_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:24px;
}
#u9417 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:24px;
  font-family:'PingFang SC 中等', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u9417_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:171px;
  word-wrap:break-word;
}
#u9418_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:24px;
}
#u9418 {
  border-width:0px;
  position:absolute;
  left:175px;
  top:0px;
  width:122px;
  height:24px;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#363636;
}
#u9418_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:118px;
  word-wrap:break-word;
}
#u9419_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:40px;
}
#u9419 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:24px;
  width:175px;
  height:40px;
  font-family:'PingFang SC 中等', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u9419_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:171px;
  word-wrap:break-word;
}
#u9420_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:40px;
}
#u9420 {
  border-width:0px;
  position:absolute;
  left:175px;
  top:24px;
  width:122px;
  height:40px;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#363636;
}
#u9420_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:118px;
  word-wrap:break-word;
}
#u9421_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:84px;
}
#u9421 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:64px;
  width:175px;
  height:84px;
  font-family:'PingFang SC 中等', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  text-align:left;
}
#u9421_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:171px;
  word-wrap:break-word;
}
#u9422_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:84px;
}
#u9422 {
  border-width:0px;
  position:absolute;
  left:175px;
  top:64px;
  width:122px;
  height:84px;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#363636;
}
#u9422_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9423_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:72px;
}
#u9423 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:148px;
  width:175px;
  height:72px;
  font-family:'PingFang SC 中等', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  text-align:left;
}
#u9423_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:171px;
  word-wrap:break-word;
}
#u9424_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:72px;
}
#u9424 {
  border-width:0px;
  position:absolute;
  left:175px;
  top:148px;
  width:122px;
  height:72px;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#363636;
}
#u9424_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9425_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:54px;
}
#u9425 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:220px;
  width:175px;
  height:54px;
  font-family:'PingFang SC 中等', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u9425_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:171px;
  word-wrap:break-word;
}
#u9426_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:54px;
}
#u9426 {
  border-width:0px;
  position:absolute;
  left:175px;
  top:220px;
  width:122px;
  height:54px;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#363636;
}
#u9426_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:19px;
  width:118px;
  word-wrap:break-word;
}
#u9427_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:50px;
}
#u9427 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:274px;
  width:175px;
  height:50px;
  font-family:'PingFang SC 中等', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u9427_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:171px;
  word-wrap:break-word;
}
#u9428_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:50px;
}
#u9428 {
  border-width:0px;
  position:absolute;
  left:175px;
  top:274px;
  width:122px;
  height:50px;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  color:#363636;
}
#u9428_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:118px;
  word-wrap:break-word;
}
#u9429 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9430_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC 中等', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u9430 {
  border-width:0px;
  position:absolute;
  left:213px;
  top:568px;
  width:71px;
  height:28px;
  font-family:'PingFang SC 中等', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u9430_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:67px;
  word-wrap:break-word;
}
#u9431_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC 中等', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  text-align:left;
}
#u9431 {
  border-width:0px;
  position:absolute;
  left:213px;
  top:587px;
  width:133px;
  height:28px;
  font-family:'PingFang SC 中等', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  text-align:left;
}
#u9431_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:129px;
  word-wrap:break-word;
}
#u9432 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9433_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC 中等', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u9433 {
  border-width:0px;
  position:absolute;
  left:213px;
  top:622px;
  width:86px;
  height:28px;
  font-family:'PingFang SC 中等', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u9433_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:82px;
  word-wrap:break-word;
}
#u9434_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC 中等', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  text-align:left;
}
#u9434 {
  border-width:0px;
  position:absolute;
  left:213px;
  top:641px;
  width:133px;
  height:28px;
  font-family:'PingFang SC 中等', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  text-align:left;
}
#u9434_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:129px;
  word-wrap:break-word;
}
#u9435 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9436_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC 中等', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u9436 {
  border-width:0px;
  position:absolute;
  left:213px;
  top:412px;
  width:71px;
  height:28px;
  font-family:'PingFang SC 中等', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u9436_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:67px;
  word-wrap:break-word;
}
#u9437_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC 中等', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  text-align:left;
}
#u9437 {
  border-width:0px;
  position:absolute;
  left:213px;
  top:431px;
  width:133px;
  height:28px;
  font-family:'PingFang SC 中等', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  text-align:left;
}
#u9437_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:129px;
  word-wrap:break-word;
}
#u9438_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC 中等', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  text-align:left;
}
#u9438 {
  border-width:0px;
  position:absolute;
  left:213px;
  top:446px;
  width:133px;
  height:28px;
  font-family:'PingFang SC 中等', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  text-align:left;
}
#u9438_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:129px;
  word-wrap:break-word;
}
#u9439_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC 中等', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  text-align:left;
}
#u9439 {
  border-width:0px;
  position:absolute;
  left:213px;
  top:461px;
  width:133px;
  height:28px;
  font-family:'PingFang SC 中等', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  text-align:left;
}
#u9439_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:129px;
  word-wrap:break-word;
}
#u9440 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9441_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:11px;
  color:#363636;
  text-align:left;
}
#u9441 {
  border-width:0px;
  position:absolute;
  left:393px;
  top:415px;
  width:108px;
  height:28px;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:11px;
  color:#363636;
  text-align:left;
}
#u9441_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:104px;
  word-wrap:break-word;
}
#u9442_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:11px;
  color:#363636;
  text-align:left;
}
#u9442 {
  border-width:0px;
  position:absolute;
  left:393px;
  top:432px;
  width:133px;
  height:28px;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:11px;
  color:#363636;
  text-align:left;
}
#u9442_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:129px;
  word-wrap:break-word;
}
#u9443_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:11px;
  color:#363636;
  text-align:left;
}
#u9443 {
  border-width:0px;
  position:absolute;
  left:393px;
  top:447px;
  width:133px;
  height:28px;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:11px;
  color:#363636;
  text-align:left;
}
#u9443_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:129px;
  word-wrap:break-word;
}
#u9444_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:11px;
  color:#363636;
  text-align:left;
}
#u9444 {
  border-width:0px;
  position:absolute;
  left:393px;
  top:462px;
  width:133px;
  height:28px;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:11px;
  color:#363636;
  text-align:left;
}
#u9444_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:129px;
  word-wrap:break-word;
}
#u9445 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9446_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC 中等', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u9446 {
  border-width:0px;
  position:absolute;
  left:213px;
  top:492px;
  width:71px;
  height:28px;
  font-family:'PingFang SC 中等', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u9446_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:67px;
  word-wrap:break-word;
}
#u9447_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC 中等', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  text-align:left;
}
#u9447 {
  border-width:0px;
  position:absolute;
  left:213px;
  top:511px;
  width:133px;
  height:28px;
  font-family:'PingFang SC 中等', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  text-align:left;
}
#u9447_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:129px;
  word-wrap:break-word;
}
#u9448_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC 中等', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  text-align:left;
}
#u9448 {
  border-width:0px;
  position:absolute;
  left:213px;
  top:526px;
  width:133px;
  height:28px;
  font-family:'PingFang SC 中等', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  text-align:left;
}
#u9448_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:129px;
  word-wrap:break-word;
}
#u9449_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC 中等', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  text-align:left;
}
#u9449 {
  border-width:0px;
  position:absolute;
  left:213px;
  top:541px;
  width:133px;
  height:28px;
  font-family:'PingFang SC 中等', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  text-align:left;
}
#u9449_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:129px;
  word-wrap:break-word;
}
#u9450 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9451_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:11px;
  color:#363636;
  text-align:left;
}
#u9451 {
  border-width:0px;
  position:absolute;
  left:392px;
  top:493px;
  width:89px;
  height:28px;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:11px;
  color:#363636;
  text-align:left;
}
#u9451_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:85px;
  word-wrap:break-word;
}
#u9452_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:11px;
  color:#363636;
  text-align:left;
}
#u9452 {
  border-width:0px;
  position:absolute;
  left:392px;
  top:510px;
  width:133px;
  height:28px;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:11px;
  color:#363636;
  text-align:left;
}
#u9452_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:129px;
  word-wrap:break-word;
}
#u9453_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:11px;
  color:#363636;
  text-align:left;
}
#u9453 {
  border-width:0px;
  position:absolute;
  left:392px;
  top:525px;
  width:133px;
  height:28px;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:11px;
  color:#363636;
  text-align:left;
}
#u9453_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:129px;
  word-wrap:break-word;
}
#u9454_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:11px;
  color:#363636;
  text-align:left;
}
#u9454 {
  border-width:0px;
  position:absolute;
  left:392px;
  top:540px;
  width:133px;
  height:28px;
  font-family:'Heiti SC Regular', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:11px;
  color:#363636;
  text-align:left;
}
#u9454_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:129px;
  word-wrap:break-word;
}
#u9455_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9455 {
  border-width:0px;
  position:absolute;
  left:328px;
  top:1023px;
  width:71px;
  height:16px;
}
#u9455_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u9456_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:18px;
}
#u9456 {
  border-width:0px;
  position:absolute;
  left:281px;
  top:312px;
  width:11px;
  height:18px;
  color:#BCBCBC;
}
#u9456_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9457_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:18px;
}
#u9457 {
  border-width:0px;
  position:absolute;
  left:451px;
  top:312px;
  width:11px;
  height:18px;
}
#u9457_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9458_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u9458 {
  border-width:0px;
  position:absolute;
  left:330px;
  top:309px;
  width:83px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u9458_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  white-space:nowrap;
}
