body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:860px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_div {
  position:absolute;
  left:0px;
  top:0px;
  width:410px;
  height:110px;
  background:inherit;
  background-color:rgba(208, 225, 125, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u0 {
  position:absolute;
  left:94px;
  top:19px;
  width:410px;
  height:110px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u1 {
  position:absolute;
  left:10px;
  top:10px;
  width:390px;
  word-wrap:break-word;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:766px;
  height:524px;
}
#u2 {
  position:absolute;
  left:87px;
  top:115px;
  width:766px;
  height:524px;
}
#u3 {
  position:absolute;
  left:2px;
  top:254px;
  width:762px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:756px;
  height:298px;
}
#u4 {
  position:absolute;
  left:93px;
  top:637px;
  width:756px;
  height:298px;
}
#u5 {
  position:absolute;
  left:2px;
  top:141px;
  width:752px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:756px;
  height:300px;
}
#u6 {
  position:absolute;
  left:93px;
  top:924px;
  width:756px;
  height:300px;
}
#u7 {
  position:absolute;
  left:2px;
  top:142px;
  width:752px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:762px;
  height:740px;
}
#u8 {
  position:absolute;
  left:87px;
  top:1216px;
  width:762px;
  height:740px;
}
#u9 {
  position:absolute;
  left:2px;
  top:362px;
  width:758px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:754px;
  height:1117px;
}
#u10 {
  position:absolute;
  left:97px;
  top:2394px;
  width:754px;
  height:1117px;
}
#u11 {
  position:absolute;
  left:2px;
  top:550px;
  width:750px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:762px;
  height:453px;
}
#u12 {
  position:absolute;
  left:95px;
  top:1949px;
  width:762px;
  height:453px;
}
#u13 {
  position:absolute;
  left:2px;
  top:218px;
  width:758px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:770px;
  height:452px;
}
#u14 {
  position:absolute;
  left:87px;
  top:3502px;
  width:770px;
  height:452px;
}
#u15 {
  position:absolute;
  left:2px;
  top:218px;
  width:766px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:778px;
  height:91px;
}
#u16 {
  position:absolute;
  left:82px;
  top:4126px;
  width:778px;
  height:91px;
}
#u17 {
  position:absolute;
  left:2px;
  top:38px;
  width:774px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:767px;
  height:192px;
}
#u18 {
  position:absolute;
  left:90px;
  top:3944px;
  width:767px;
  height:192px;
}
#u19 {
  position:absolute;
  left:2px;
  top:88px;
  width:763px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:761px;
  height:190px;
}
#u20 {
  position:absolute;
  left:91px;
  top:4208px;
  width:761px;
  height:190px;
}
#u21 {
  position:absolute;
  left:2px;
  top:87px;
  width:757px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:769px;
  height:855px;
}
#u22 {
  position:absolute;
  left:91px;
  top:4391px;
  width:769px;
  height:855px;
}
#u23 {
  position:absolute;
  left:2px;
  top:420px;
  width:765px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:755px;
  height:575px;
}
#u24 {
  position:absolute;
  left:97px;
  top:5238px;
  width:755px;
  height:575px;
}
#u25 {
  position:absolute;
  left:2px;
  top:280px;
  width:751px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:763px;
  height:233px;
}
#u26 {
  position:absolute;
  left:89px;
  top:5805px;
  width:763px;
  height:233px;
}
#u27 {
  position:absolute;
  left:2px;
  top:108px;
  width:759px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:756px;
  height:367px;
}
#u28 {
  position:absolute;
  left:93px;
  top:6028px;
  width:756px;
  height:367px;
}
#u29 {
  position:absolute;
  left:2px;
  top:176px;
  width:752px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:763px;
  height:743px;
}
#u30 {
  position:absolute;
  left:86px;
  top:6369px;
  width:763px;
  height:743px;
}
#u31 {
  position:absolute;
  left:2px;
  top:364px;
  width:759px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:756px;
  height:521px;
}
#u32 {
  position:absolute;
  left:91px;
  top:7104px;
  width:756px;
  height:521px;
}
#u33 {
  position:absolute;
  left:2px;
  top:252px;
  width:752px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:759px;
  height:762px;
}
#u34 {
  position:absolute;
  left:93px;
  top:7611px;
  width:759px;
  height:762px;
}
#u35 {
  position:absolute;
  left:2px;
  top:373px;
  width:755px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:756px;
  height:130px;
}
#u36 {
  position:absolute;
  left:93px;
  top:8365px;
  width:756px;
  height:130px;
}
#u37 {
  position:absolute;
  left:2px;
  top:57px;
  width:752px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:756px;
  height:154px;
}
#u38 {
  position:absolute;
  left:93px;
  top:8483px;
  width:756px;
  height:154px;
}
#u39 {
  position:absolute;
  left:2px;
  top:69px;
  width:752px;
  visibility:hidden;
  word-wrap:break-word;
}
