body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1168px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u8599_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1167px;
  height:2px;
}
#u8599 {
  position:absolute;
  left:2px;
  top:50px;
  width:1166px;
  height:1px;
}
#u8600 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1162px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8601_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:26px;
  color:#0066CC;
}
#u8601 {
  position:absolute;
  left:14px;
  top:8px;
  width:105px;
  height:30px;
  font-size:26px;
  color:#0066CC;
}
#u8602 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u8603_div {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 204, 153, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u8603 {
  position:absolute;
  left:1058px;
  top:0px;
  width:95px;
  height:40px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u8604 {
  position:absolute;
  left:2px;
  top:12px;
  width:91px;
  word-wrap:break-word;
}
#u8605_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1168px;
  height:54px;
}
#u8605 {
  position:absolute;
  left:0px;
  top:57px;
  width:1168px;
  height:54px;
}
#u8606 {
  position:absolute;
  left:2px;
  top:19px;
  width:1164px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8607_div {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF9900;
}
#u8607 {
  position:absolute;
  left:14px;
  top:130px;
  width:164px;
  height:32px;
  color:#FF9900;
}
#u8608 {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  word-wrap:break-word;
}
#u8609_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1131px;
  height:92px;
}
#u8609 {
  position:absolute;
  left:14px;
  top:298px;
  width:1131px;
  height:92px;
}
#u8610 {
  position:absolute;
  left:2px;
  top:38px;
  width:1127px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8611_div {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8611 {
  position:absolute;
  left:360px;
  top:324px;
  width:102px;
  height:40px;
}
#u8612 {
  position:absolute;
  left:2px;
  top:12px;
  width:98px;
  word-wrap:break-word;
}
#u8613_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8613 {
  position:absolute;
  left:488px;
  top:324px;
  width:99px;
  height:40px;
}
#u8614 {
  position:absolute;
  left:2px;
  top:12px;
  width:95px;
  word-wrap:break-word;
}
#u8615_div {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8615 {
  position:absolute;
  left:229px;
  top:193px;
  width:104px;
  height:17px;
}
#u8616 {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  white-space:nowrap;
}
#u8617 {
  position:absolute;
  left:351px;
  top:194px;
  width:492px;
  height:25px;
}
#u8617_input {
  position:absolute;
  left:0px;
  top:0px;
  width:492px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u8618_div {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8618 {
  position:absolute;
  left:229px;
  top:240px;
  width:104px;
  height:17px;
}
#u8619 {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  white-space:nowrap;
}
#u8620 {
  position:absolute;
  left:360px;
  top:240px;
  width:152px;
  height:25px;
}
#u8620_input {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u8621 {
  position:absolute;
  left:613px;
  top:240px;
  width:152px;
  height:25px;
}
#u8621_input {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u8622_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8622 {
  position:absolute;
  left:555px;
  top:244px;
  width:15px;
  height:17px;
}
#u8623 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u8624_div {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:32px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8624 {
  position:absolute;
  left:775px;
  top:229px;
  width:68px;
  height:32px;
}
#u8625 {
  position:absolute;
  left:2px;
  top:8px;
  width:64px;
  word-wrap:break-word;
}
#u8626_div {
  position:absolute;
  left:0px;
  top:0px;
  width:277px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8626 {
  position:absolute;
  left:360px;
  top:275px;
  width:277px;
  height:32px;
}
#u8627 {
  position:absolute;
  left:0px;
  top:0px;
  width:277px;
  word-wrap:break-word;
}
